* {
  box-sizing: border-box;
}

.material-icons {
  vertical-align: -27%;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* end reset.css */
/* new typographic scale and styles */
html {
  font-size: 1.188em;
}

body {
  background-color: white;
  font-family: muli, serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {
  margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-family: impact;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 {
  font-size: 2.827em;
}

h3 {
  font-size: 1.999em;
}

h4 {
  font-size: 1.414em;
}

small, .font_small {
  font-size: 0.707em;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  outline: none;
  cursor: pointer;
}

a {
  cursor: pointer;
}

.fade {
  opacity: 0;
  transition: opacity 0.15s linear;
}

.fade.show {
  opacity: 1;
}

.collapse {
  display: none;
}

.collapse.show {
  display: block;
}

tr.collapse.show {
  display: table-row;
}

tbody.collapse.show {
  display: table-row-group;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}

#world-container {
  margin: 24px;
}

body {
  width: 100%;
  width: 100%;
  background: white;
  font-family: 'Muli', sans-serif;
  font-size: 19px;
  margin: 0;
  color: #2d2d2d;
}

a {
  color: #2d2d2d;
  text-decoration: none;
}

#title1 {
  position: absolute;
  margin-top: 96px;
  margin-left: 24px;
  color: #2d2d2d;
}

h1 {
  font-family: 'Impact', sans-serif;
  font-weight: 900;
  font-size: 75px;
  color: #2d2d2d;
}

h4 {
  font-family: 'muli', sans-serif;
  font-weight: 600;
  color: #2d2d2d;
}

.backgound-copy1 {
  font-family: Impact, sans-serif;
  font-size: 300px;
  letter-spacing: 4px;
  line-height: 0px;
  margin: 0;
  color: #f5f5f5;
  position: fixed;
  left: 0%;
  top: -5%;
}

.backgound-copy2 {
  font-family: Impact, sans-serif;
  font-size: 300px;
  letter-spacing: 4px;
  line-height: 0px;
  margin: 0;
  color: #f5f5f5;
  position: fixed;
  right: -8%;
  top: 55%;
}

img {
  display: block;
  width: 105%;
}

.container {
  margin: 0 auto;
  width: 100vw;
  height: 100%;
  position: fixed;
  margin-top: 60px;
}

.container button {
  background: #2d2d2d;
  border: 1px solid #2d2d2d;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  height: 34px;
  line-height: 16px;
  margin: 0;
  outline: none;
  padding: 12px;
  text-align: center;
  border-radius: 2px;
  font-weight: 600 !important;
  box-shadow: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.container button:hover {
  background: #fff;
  color: #2d2d2d;
  border: 1px solid #fff;
  font-weight: 400;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.scene {
  margin: 0;
  padding: 0;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.scene button {
  top: 234px;
  height: 48px;
  min-width: 180px;
  position: absolute;
}

.fill {
  bottom: 5%;
  left: 5%;
  position: absolute;
  right: 5%;
  top: 5%;
}

.sectors {
  height: 50%;
  width: 50%;
  top: 42% !important;
  left: 60% !important;
}

.sectorscale {
  height: 80%;
  width: 80%;
}

.community {
  height: 16%;
  width: 16%;
  top: -4% !important;
  left: 76% !important;
  margin-right: 50px;
}

.meet {
  height: 30%;
  width: 30%;
  top: 14% !important;
  left: 32% !important;
  margin-right: 50px;
}

.join {
  height: 27%;
  width: 27%;
  top: 42% !important;
  left: 0% !important;
}

.rocks1 {
  top: 60%;
  Left: 50%;
  position: absolute;
  opacity: 0.3;
}

/*floating infinate animation for each element */
.aspect {
  opacity: 1;
  animation-name: aspect;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 5%;
  margin-top: 5%;
}

@keyframes aspect {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 5px);
  }
  to {
    transform: translate(0, 0px);
  }
}

.aspect2 {
  opacity: 1;
  animation-name: aspect;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 5%;
  margin-top: 5%;
}

@keyframes aspect2 {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 5px);
  }
  to {
    transform: translate(0, 0px);
  }
}

.aspect3 {
  opacity: 1;
  animation-name: aspect3;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes aspect3 {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(2px, 15px);
  }
  to {
    transform: translate(0, 0px);
  }
}

.aspect4 {
  opacity: 1;
  animation-name: aspect4;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 5%;
  margin-top: 5%;
}

@keyframes aspect4 {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(-2px, 15px);
  }
  to {
    transform: translate(0, 0px);
  }
}

.aspect5 {
  opacity: 1;
  animation-name: aspect5;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 5%;
  margin-top: 5%;
}

@keyframes aspect5 {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(2px, 15px);
  }
  to {
    transform: translate(0, 0px);
  }
}

.aspect6 {
  opacity: 1;
  animation-name: aspect6;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 5%;
  margin-top: 5%;
}

@keyframes aspect6 {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(-4px, 15px);
  }
  to {
    transform: translate(0, 0px);
  }
}

/*media queries for each element*/
@media screen and (max-width: 1329px) {
  .container {
    margin: 0 auto;
    width: 100vw;
    position: absolute;
    margin-top: 270px;
  }
}

@media screen and (max-width: 1329px) and (min-width: 768px) {
  .container {
    margin: 0 auto;
    width: 100vw;
    position: absolute;
    margin-top: 270px;
  }
  .sectors {
    width: 100%;
    height: 100%;
    top: 150% !important;
    left: -10% !important;
  }
  .community {
    height: 60%;
    width: 60%;
    top: 230% !important;
    left: 25% !important;
  }
  .meet {
    height: 70%;
    width: 70%;
    top: 0% !important;
    left: 0% !important;
  }
  .join {
    height: 70%;
    width: 70%;
    top: 80% !important;
    left: 15% !important;
  }
}

@media screen and (max-width: 768px) and (min-width: 480px) {
  .container {
    margin: 0 auto;
    width: 100vw;
    position: absolute;
    margin-top: 330px;
  }
  .sectors {
    width: 130%;
    height: 150%;
    top: 130% !important;
    left: -5% !important;
  }
  .community {
    height: 100%;
    width: 100%;
    top: 220% !important;
    left: 10% !important;
  }
  .meet {
    height: 100%;
    width: 100%;
    top: 0% !important;
    left: -0% !important;
  }
  .join {
    height: 100%;
    width: 100%;
    top: 85% !important;
    left: -20% !important;
  }
}

@media screen and (max-width: 480px) {
  .sectors {
    width: 130%;
    height: 130%;
    top: 85% !important;
    left: -5% !important;
  }
  .community {
    height: 100%;
    width: 100%;
    top: 140% !important;
    left: 10% !important;
  }
  .meet {
    height: 100%;
    width: 100%;
    top: 0% !important;
    left: -0% !important;
  }
  .join {
    height: 100%;
    width: 100%;
    top: 45% !important;
    left: -20% !important;
  }
}

/* Keyframes for the fade-in */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  opacity: 1 \9;
  /*just in case ie*/
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1.0s;
  -moz-animation-duration: 1.0s;
  animation-duration: 1.0s;
}

.fade-in.container {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

/*Dropdown styles*/
.dropbtn {
  height: 48px;
  width: 180px;
  color: #fff;
  cursor: pointer;
  z-index: 999999999;
  font-size: 16px;
}

.dropdown {
  left: 50%;
  position: relative;
  display: inline;
  z-index: 999999999;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999999999;
  font-size: 16px;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #2d2d2d;
  color: #fff;
  position: block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.dropdown .sectorscta:hover ~ .dropdown-content, .dropdown-content:hover {
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.dropdown:hover .dropbtn {
  background-color: #2d2d2d;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header {
  position: fixed;
  height: 64px;
  top: 0;
  padding: 20px 24px;
  font-size: 16px;
  line-height: 7.5px;
  width: 100%;
  z-index: 1000;
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  text-align: right;
}

@media screen and (max-width: 650px) {
  .header {
    height: 56px;
    display: grid;
    grid-template: "jobs icon menu";
    grid-template-rows: 1fr 1fr 1fr;
  }
}

.header button {
  display: inline-block;
}

.header .header-logo {
  float: left;
}

.header .header-logo img {
  width: 119px;
  position: relative;
  top: -6px;
  margin-left: 37px;
}

@media screen and (max-width: 650px) {
  .header .header-logo {
    float: none;
    width: 17px;
    height: 18px;
    background-color: #008EDA;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
  }
  .header .header-logo img {
    display: none;
  }
}

.header .navbar-item {
  position: relative;
  top: -2px;
  font-size: 19px;
  margin-right: 48px;
  text-transform: uppercase;
  line-height: 1;
  font-weight: bold;
}

.header .navbar-item .material-icons {
  font-size: 29px;
  margin-right: 16px;
}

@media screen and (max-width: 650px) {
  .header .navbar-item {
    grid-area: jobs;
    text-align: left;
    margin: 0;
  }
  .header .navbar-item span {
    display: none;
  }
  .header .navbar-item .material-icons {
    font-size: 18px;
    font-weight: bold;
    margin-right: 0;
  }
}

.header .button-container {
  display: inline-block;
}

@media screen and (max-width: 650px) {
  .header .button-container {
    grid-area: menu;
    align-content: right;
  }
  .header .navbar-toggle .navbar-icon {
    top: 0;
    height: 14px;
    width: 24px;
    margin: 0;
    float: right;
  }
  .header .navbar-toggle .navbar-icon span {
    top: 6px;
  }
}

.navbar-toggle {
  margin: 0;
  padding: 0;
  display: block;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  color: black;
}

.navbar-toggle .navbar-icon {
  display: block;
  position: relative;
  overflow: hidden;
  width: 35px;
  height: 30px;
  top: -20px;
  font-size: 0;
  text-indent: -9999px;
  transition: background 0.3s;
  margin-right: 24px;
}

.navbar-toggle .navbar-icon span {
  display: block;
  position: relative;
  top: 13px;
  left: 7px;
  right: 0px;
  height: 3px;
  background: black;
  transition: background 0s 0.3s;
  border-radius: 10px/6px;
  width: 28px;
}

@media screen and (max-width: 650px) {
  .navbar-toggle .navbar-icon span {
    width: 17px;
    height: 2px;
    border-radius: 5px/3px;
  }
}

.navbar-toggle .navbar-icon span::before, .navbar-toggle .navbar-icon span::after {
  position: absolute;
  display: block;
  left: -7px;
  right: 0;
  height: 3px;
  background-color: black;
  content: "";
  border-radius: 10px/6px;
}

@media screen and (max-width: 650px) {
  .navbar-toggle .navbar-icon span::before, .navbar-toggle .navbar-icon span::after {
    height: 2px;
    left: -4px;
  }
}

.navbar-toggle .navbar-icon span::before {
  top: -10px;
  transition-property: top, transform;
}

@media screen and (max-width: 650px) {
  .navbar-toggle .navbar-icon span::before {
    top: -6px;
  }
}

.navbar-toggle .navbar-icon span::after {
  bottom: -10px;
  transition-property: bottom, transform;
}

@media screen and (max-width: 650px) {
  .navbar-toggle .navbar-icon span::after {
    bottom: -6px;
  }
}

.navbar-toggle .navbar-icon.close-menu span {
  background: none;
}

.navbar-toggle .navbar-icon.close-menu span::before, .navbar-toggle .navbar-icon.close-menu span::after {
  transition-delay: 0s, 0.3s;
  background-color: white;
}

.navbar-toggle .navbar-icon.close-menu span::before {
  top: 0;
  transform: rotate(45deg);
  background-color: white;
}

.navbar-toggle .navbar-icon.close-menu span::after {
  bottom: 0;
  transform: rotate(-45deg);
  background-color: white;
}

.icon-dropdown-down-up {
  position: relative;
  font-size: 20px;
}

.icon-dropdown-down-up:before {
  content: "expand_less";
}

.collapsed .icon-dropdown-down-up:before {
  content: "expand_more";
}

.side-menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 999999999;
}

.side-menu.collapsing {
  -webkit-transition: none;
  transition: none;
}

.side-menu:not(.show) .overlay-transparent {
  opacity: 0;
}

.side-menu:not(.show) .overlay-menu {
  right: -320px;
}

@media (max-width: 768px) {
  .side-menu:not(.show) .overlay-menu {
    right: -100%;
  }
}

.side-menu:not(.show) .overlay-menu .main-menu > li {
  transform: translateX(200px);
  opacity: 0;
}

.side-menu .overlay-transparent {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  transition-duration: 0.25s, 0.25s;
  transition-delay: 0, 0;
}

.side-menu .overlay-menu {
  background-color: black;
  width: 320px;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  overflow: auto;
  overflow-x: hidden;
  color: #fff;
  text-align: right;
  padding: 30px 48px 0;
  transition-duration: 0.25s, 0.25s;
  transition-delay: 0s, 0s;
}

@media screen and (max-width: 650px) {
  .side-menu .overlay-menu {
    width: 100%;
    padding: 30px 13px 0;
  }
}

.side-menu .overlay-menu .main-menu > li {
  transform: translateX(0);
}

.side-menu .overlay-menu .main-menu, .side-menu .overlay-menu .sub-menu-ul {
  list-style: none;
  clear: both;
  margin-right: 42px;
  padding: 0;
}

.side-menu .overlay-menu .main-menu a, .side-menu .overlay-menu .sub-menu-ul a {
  cursor: pointer;
}

.side-menu .overlay-menu .main-menu li, .side-menu .overlay-menu .sub-menu-ul li {
  line-height: 1;
  margin-bottom: 25px;
  opacity: 1;
}

.side-menu .overlay-menu .main-menu li:nth-child(1), .side-menu .overlay-menu .sub-menu-ul li:nth-child(1) {
  transition-duration: none;
}

.side-menu .overlay-menu .main-menu li:nth-child(2), .side-menu .overlay-menu .sub-menu-ul li:nth-child(2) {
  transition-duration: none;
}

.side-menu .overlay-menu .main-menu li:nth-child(3), .side-menu .overlay-menu .sub-menu-ul li:nth-child(3) {
  transition-duration: none;
}

.side-menu .overlay-menu .main-menu li:nth-child(4), .side-menu .overlay-menu .sub-menu-ul li:nth-child(4) {
  transition-duration: none;
}

.side-menu .overlay-menu .main-menu li:nth-child(5), .side-menu .overlay-menu .sub-menu-ul li:nth-child(5) {
  transition-duration: none;
}

.side-menu .overlay-menu .main-menu li:nth-child(6), .side-menu .overlay-menu .sub-menu-ul li:nth-child(6) {
  transition-duration: none;
}

.side-menu .overlay-menu .main-menu li:nth-child(7), .side-menu .overlay-menu .sub-menu-ul li:nth-child(7) {
  transition-duration: none;
}

.side-menu .overlay-menu .main-menu li:nth-child(8), .side-menu .overlay-menu .sub-menu-ul li:nth-child(8) {
  transition-duration: none;
}

.side-menu .overlay-menu .main-menu li:nth-child(9), .side-menu .overlay-menu .sub-menu-ul li:nth-child(9) {
  transition-duration: none;
}

.side-menu .overlay-menu .main-menu a, .side-menu .overlay-menu .sub-menu-ul a {
  color: white;
}

.side-menu .overlay-menu .main-menu a:hover, .side-menu .overlay-menu .main-menu a:active, .side-menu .overlay-menu .main-menu a:focus, .side-menu .overlay-menu .sub-menu-ul a:hover, .side-menu .overlay-menu .sub-menu-ul a:active, .side-menu .overlay-menu .sub-menu-ul a:focus {
  color: #1898d9;
  text-decoration: none;
}

.side-menu .overlay-menu .main-menu .active > a, .side-menu .overlay-menu .sub-menu-ul .active > a {
  color: #1898d9;
  text-decoration: none;
}

.side-menu .overlay-menu .sub-menu-ul {
  margin-right: 0;
}

.side-menu .overlay-menu .sub-menu-ul li {
  margin-bottom: 0;
  margin-top: 25px;
}

.side-menu .overlay-menu .main-menu .icon-dropdown-down-up {
  left: 30px;
  margin-left: -25px;
}

.side-menu .overlay-menu .main-menu .collapse.in .sub-menu {
  display: block;
}

.side-menu .overlay-menu .main-menu .collapse .sub-menu {
  display: none;
}

.side-menu .overlay-menu .sub-menu {
  margin-right: 0;
  font-size: 19px;
}

.side-menu .navbar-toggle {
  margin-bottom: 84px;
  float: right;
}

.side-menu .navbar-toggle .navbar-icon {
  top: -11px;
  margin-right: 0;
}

.side-menu .main-menu {
  font-size: 26px;
}
