/* neat grid*/
// Media queries
$neat-mobile: (
    columns: 4,
    media: 'screen and (max-width: 767px)'
  );
  
  // Variables
$max-width: 180px;
  
  // Colors
$blue: #00aad8;
$blue-light: #9fd7ee;
$black: #141414;

.test {
  border: 1px solid black;
  @include grid-container;
  position: relative;
  & > div {
    height: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
  }
  .a {
    @include grid-column(12);
    @include grid-push(-0.2);
    @include grid-media($neat-mobile) {
      @include grid-column(1);
    }
  }

  .b,
  .c {
    @include grid-column(6);
  }

  .d,
  .e,
  .f,
  .g {
    @include grid-column(4);
  }
}

.main-articles {
  @include grid-container;
    // additional style
  padding: 48px;
  background-color: $blue;
  min-height: 300px;
  color: $black;

  article {
      // additional style
    height: 70vh;
    min-height: 450px;
    background-color: $blue-light;
    padding: 20px 30px 20px 30px;

    &.span {
      @include grid-column(6);

      @include grid-media($neat-mobile) {
        @include grid-column(2);
      }
    }

    &.shift {
      @include grid-column(12);


      @include grid-media($neat-mobile) {
        @include grid-shift(0);
        @include grid-column(4);
      }
    }
  }
}

.whiteblock {
  height: 1000px;
  background-color: red;
  color: green;
}