$transition-fade: opacity 0.15s linear !default;
$transition-collapse: height 0.35s ease !default;
$transition-base: all 0.2s ease-in-out !default;
$enable-transitions: true;

@mixin transition($transition...) {
    @if $enable-transitions {
        @if length($transition) == 0 {
            transition: $transition-base;
        }
        @else {
            transition: $transition;
        }
    }
}

.fade {
    opacity: 0;

    @include transition($transition-fade);

    &.show {
        opacity: 1;
    }
}

.collapse {
    display: none;

    &.show {
        display: block;
    }
}

tr {
    &.collapse.show {
        display: table-row;
    }
}

tbody {
    &.collapse.show {
        display: table-row-group;
    }
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;

    @include transition($transition-collapse);
}
