$white: #FFFFFF;
$iron: #c9ced1;
$sub-gray: #b2bbb8;
$placeholder-gray: #b6b6b6;
$shark-black: #191b1d;
$cape-cod: #3c4043;
$cerulean-blue: #008EDA;
$curious-blue: #1898d9;


$muli-font: "Muli", Helvetica, Arial, sans-serif;