.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

// used for big headers
.jumbo {
  background-color: $shark-black;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 94px 96px;
  color: white;

  @media screen and (max-width: $menu-small-width) {
    padding: 54px 24px;
  }

  .content {
    position: relative;
  }

  h1 {//75,37
    color: white;
    margin: 0;
    font-size: 65px;

    @media screen and (max-width: $menu-small-width) {
      font-size: 37px;
      line-height: 1.7;
    }
  }

  .subtitle {
    color: $sub-gray;
    font-size: 19px;
    @media screen and (max-width: $menu-small-width) {
      font-size: 14px;
    }
  }

  dl {
    dt {
      display: none;
    }
    dd {
      display: inline-block;
      margin-right: 2em;
      font-size: 16px;

      @media screen and (max-width: $menu-small-width) {
        font-size: 14px;
        display: block;
        margin: 0;
      }
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: radial-gradient(rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.5) 70%);
  }

  &.darker::before {
    background-image: radial-gradient(rgba(0, 0, 0, 0.3) 100%, rgba(0, 0, 0, 0.8) 70%);
  }
}

.copy {
  h1,
  h2,
  h3,
  h4 {
    font-family: $muli-font;
    margin-bottom: 1em;

    strong { font-size: inherit; }
  }

  strong { font-size: 1.3em; }

  ul li {
    list-style-type: none;
    line-height: 2;
  }

  ul li:before {
    color: $cerulean-blue;
    float: left;
    width: 1em;
    content: '\2022';
  }
  ul {
    margin-bottom: 2em;
  }
}

/* Hero video styles */
.hero {
  position: relative;
  z-index: 1;
}

.videocontainer {
  background-color: $shark-black;
  height: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}


.videocontainer::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: radial-gradient(transparent 30%, rgba(0, 0, 0, 0.5) 70%);
}
.herocontent {
  position: absolute;
  color: #ffffff;
  top: 58%;
  transform: translateY(-50%);
  padding: 0px 96px 0px 96px;
}

@media screen and (max-width: 1024px) and (min-width: 650px) {
  .herocontent {
    position: absolute;
    color: #ffffff;
    top: 20%;
    padding: 0px 48px 0px 48px;
    transform: none;
  }
}

@media screen and (max-width: 650px) {
  .herocontent {
    position: absolute;
    color: #ffffff;
    top: 20%;
    padding: 0px 48px 0px 48px;
    transform: none;
  }
}

.hero-subtitle {
  font-size: 23px;
  margin-bottom: 2.5em;
  color: #fff;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .hero-subtitle {
    font-size: 19px;
    margin-bottom: 2.5em;
    color: #fff;
  }
}

@media screen and (max-width: 768px) {
  .hero-subtitle {
    font-size: 19px;
    margin-bottom: 2.5em;
    color: #fff;
  }
}

.herocontent h1 {
  font-family: 'Impact', sans-serif;
  font-weight: 900;
  font-size: 75px;
  color: #ffffff;
  line-height: 20px;
}

@media screen and (max-width: 1024px) {
  .herocontent h1 {
    font-family: 'Impact', sans-serif;
    font-weight: 900;
    font-size: 75px;
    color: #ffffff;
    line-height: 1.2;
  }
  .herocontent p.hero-subtitle {
    position: relative;
    top: -15px;
    left: 2px;
  }
}

@media screen and (max-width: 768px) {
  .herocontent h1 {
    font-family: 'Impact', sans-serif;
    font-weight: 900;
    font-size: 53px;
    color: #ffffff;
    line-height: 61px;
    letter-spacing: 1px;
  }
}


.container-normal {
  padding-bottom: 60px;
}

.container,
.container-normal {
  margin-top: 64px;
  @media screen and (max-width: $menu-small-width) {
    margin-top: 56px;
  }
  background-color: white;
  overflow: auto;
}

.container {
  margin: 0 auto;
  width: 100vw;
  height: 100%;
  position: fixed;
  margin-top: 60px;

  img {
    display: block;
    width: 115%;
    pointer-events: none;
  }

  .button {
    background: #2d2d2d;
    border: 1px solid #2d2d2d;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    height: 34px;
    line-height: 16px;
    margin: 0;
    outline: none;
    padding: 12px;
    text-align: center;
    border-radius: 2px;
    font-weight: 400 !important;
    box-shadow: none;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  .button:hover {
    background-color: #fff;
    color: #2d2d2d;
    border: 1px solid #fff;
    font-weight: 400;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

/*media queries for each element*/

@media screen and (max-width: 1024px) {
  .container {
    margin: 0 auto;
    width: 100vw;
    position: absolute;
    margin-top: 270px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .container {
    margin: 0 auto;
    width: 100vw;
    position: absolute;
    margin-top: 270px;
  }
}

@media screen and (max-width: 768px) and (min-width: 480px) {
  .container {
    margin: 0 auto;
    width: 100vw;
    position: absolute;
    margin-top: 330px;
  }
}


/* global button */
.button {
  position: absolute;
  bottom: 0;
  display: inline-block;
  height: 48px;
  background-color: #1898d9;
  border-radius: 2px;
  padding: 14px 25px;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  position: absolute;
  bottom: 0;
  display: inline-block;
  height: 48px;
  background-color: #0e577c;
  border-radius: 2px;
  padding: 14px 25px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.anchor {
  position: relative;
  top: -64px;
  visibility: hidden;
  display: block;
  height: 0;
  @media screen and (max-width: $menu-small-width) {
    top: -56px;
  }
}

a:not(.button):hover {
  color: $cerulean-blue;
}

/* Keyframes for the fade-in */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  opacity: 1 \9; /*just in case ie*/
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1.0s;
  -moz-animation-duration: 1.0s;
  animation-duration: 1.0s;
}

.fade-in.container {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}