.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

// used for big headers
.jumbo {
    background-color: $shark-black;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 94px 123px;

    .content {
        position: relative;
    }

    h1 {
        color: white;
        margin: 0;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: radial-gradient(rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.5) 70%);
    }
}

/* Hero video styles */
.hero {
    position: relative;
    z-index: 1;
}

.videocontainer {
    height: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.herocontent {
    position: absolute;
    color: #ffffff;
    top: 38%;
    padding: 0px 96px 0px 96px;
}

.hero-subtitle {
    font-size: 23px;
    margin-bottom: 2.5em;
    color: #fff;
}

.herocontent h1 {
    font-family: 'Impact', sans-serif;
    font-weight: 900;
    font-size: 75px;
    color: #ffffff;
}
