
.footer {
    font-size: 16px;
    color: $iron;
    padding-top: 64px;

    *{
        background: $shark-black;
    }
    
    a {
        color: $iron;
    }

    .contact-footer {
        padding: 78px 0;
        border: solid 20px $shark-black;
        display: block;
        color: white;
        &:hover {
            border-color: white;
            color: white;
            text-decoration: none;
        }


        h3 {
            font-family: "impact", sans-serif;
            font-size: 53px;
            letter-spacing: 1px;
            font-weight: normal;
        }

        p {
            font-family: "Muli", Helvetica, Arial, sans-serif;    
            font-size: 26px;
            font-weight: bold;
            letter-spacing: 01px;            
        }

        .contact-message {
            width: 366px;
            margin: 0 auto;

            .text-left {
                text-align: left;
            }

            .text-right {
                text-align: right;
            }
        }


        @media screen and (max-width: 1440px) {
            padding: 65px 0;
        }
        @media screen and (max-width: 720px) {
            h3 {
                font-size: 37px;
            }
            
            p {
                font-size: 26px;
            }

            .contact-message {
                width: 299px;
            }
        }
    }

    .footer-bottom {
        padding: 45px 48px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "left right";
        line-height: 1.75;
        
        @media screen and (max-width: 900px) {
            grid-template-columns: 1fr;
            grid-template-areas: "right" 
                                 "left";
            padding: 26px 0;

            text-align: center;
            .footer-img {
                float: none;    
                margin-bottom: 39px
            }
            .list-share-icons {
                float: none;
                margin-bottom: 13px;
            }

            line-height: 2;
        }

        .right-side {
            width: 100%;
            grid-area: right;
        }
        .left-side {
            width: 100%;
            grid-area: left;
        }
    }

    .list-share-icons {
        float: right;
        .icon-linkedin, .icon-twitter {
            display: inline-block;
            width: 37px;
            height: 37px;
            background-color: $cape-cod;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 60%;
            border-radius: 2px;
            margin-left: 23px;
            margin-bottom: 10px;
        }
    
        .icon-linkedin {
            background-image: url(/assets/linked-in.svg)
        }
    
        .icon-twitter {
            background-image: url(/assets/twitter.svg)            
        }
    }
    .footer-img {
        float: right;
        clear: both;
    }
}