.herohome {
  position: relative;
  z-index: 1;
  margin-bottom: 480px;
}


/* Parallax */


.sectorcopy {
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(255, 255, 255) !important;
  align-self: center;
  text-align: center;
  font-size: 26px;
  -webkit-font-smoothing: antialiased;
}

#novodefined {
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 240px;

  .wrapper {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 2fr 2fr 2fr;
    -ms-grid-columns: 2fr 2fr 2fr;
    -ms-grid-rows: 450px 450px;

        /*grid-template-columns:repeat(3, 1fr);*/
        /* grid-auto-rows:100px; */
    grid-auto-rows: 450px;
    @media screen and (max-width: 1024px) {
      grid-template-columns: 2fr 2fr;
    }

    @media screen and (max-width: 650px) {
      grid-template-columns: 1fr;
    }
  }

  .wrapper > .sector {
    display: grid;
    background: rgb(184, 184, 184);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 1em;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
    }

    &:nth-child(even) a:hover {
      background: rgba(0, 145, 218, 0.5);
    }

    &:nth-child(odd) a:hover {
      background: rgba(0, 145, 218, 0.5);
    }

    &:nth-child(1) {
      -ms-grid-column: 1;
      -ms-grid-row: 1;
    }
    &:nth-child(2) {
      -ms-grid-column: 2;
      -ms-grid-row: 1;
    }
    &:nth-child(3) {
      -ms-grid-column: 3;
      -ms-grid-row: 1;
    }
    &:nth-child(4) {
      -ms-grid-column: 1;
      -ms-grid-row: 2;
    }
    &:nth-child(5) {
      -ms-grid-column: 2;
      -ms-grid-row: 2;
    }
    &:nth-child(6) {
      -ms-grid-column: 3;
      -ms-grid-row: 2;
    }
  }
}


/* old school section novo main*/
#novotop {
  margin-bottom: 360px;
}
.outer-div {
  height: 270px;
  margin: 0px 0px 128px 28%;
  background-color: #2b2b2b;
  position: relative;
}
#copyouter {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 72px 64px 48px 64px;
}
#adverb {
  font-size: 26px;
  font-weight: bold;
  line-height: 1.22;
  color: #fff;
  position: absolute;
  padding: 30px 48px 48px 48px;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}

#latin {
  font-size: 26px;
  font-weight: 300;
  line-height: 1.22;
  color: #fff;
  position: absolute;
  padding: 31px 48px 48px 188px;
  display: inline;
  font-style: italic;
  -webkit-font-smoothing: antialiased;
}

#description {
  font-size: 26px;
  font-weight: 300;
  line-height: 1.22;
  color: #fff;
  position: absolute;
  padding: 86px 48px 48px 44px;
  display: inline;
  -webkit-font-smoothing: antialiased;
}

.inner-div {
  margin: 0 auto;
  margin-top: -416px;
  margin-left: -130px;
}

#novo-type {
  font-family: Impact;
  font-size: 180px;
  line-height: 1.25;
  text-align: left;
  color: #008eda;
  -webkit-font-smoothing: antialiased;
}


/* old school section novo main 2*/

#novobot {
  margin-bottom: 240px;
}
.block-div {
  height: 260px;
  margin: 0px 32% 128px 0px;
  background-color: #2b2b2b;
  position: relative;
}
#copyouter {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 64px 64px 48px 64px;
}

.whiteblock > div {
  min-height: 240px;
  margin: -80px 0px 180px 40%;
  background-color: #ffffff;
  position: relative;
  z-index: 1;
}

#quote {
  font-family: Impact;
  letter-spacing: 1px;
  font-size: 37px;
  font-weight: bold;
  line-height: 1.22;
  color: #2b2b2b;
  position: absolute;
  padding: 76px 108px 48px 98px;
  float: left;
  -webkit-font-smoothing: antialiased;
  z-index: 1;
}


/* Animated background typography */
.backgroundwords > div {
  width: 100%;
  position: relative;
  z-index: -10;
}

.original {
  font-family: Impact;
  font-size: 380px;
  line-height: 1;
  color: #f5f4f4;
  -webkit-font-smoothing: antialiased;
  top: -730px;
  left: 30%;
  z-index: 0 !important;
  z-index: -10;
  pointer-events: none;
}

.extraoridinary {
  font-family: Impact;
  font-size: 380px;
  line-height: 1;
  color: #F7F7F7;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  z-index: -10;
  pointer-events: none;
}

.yourself {
  font-family: Impact;
  font-size: 380px;
  line-height: 1;
  color: #f5f4f4;
  -webkit-font-smoothing: antialiased;
  top: -430px;
  left: 30%;
  z-index: -10;
  pointer-events: none;
}

@import 'homepage-2.scss';