/* neat grid
// Media queries
$neat-mobile: (
  columns: 4,
  media: 'screen and (max-width: 767px)'
);

// Variables
$max-width: 1280px;

// Colors
$blue: #00aad8;
$blue-light: #9fd7ee;
$black: #141414;

body {
  font-family: helvetica, sans-serif;
}

.main-articles {
  @include grid-container;
  
  // additional style
  padding: 48px;
  background-color: $blue;
  min-height: 300px;
  color: $black;

  article {
    // additional style
    height: 70vh;
    min-height: 500px;
    background-color: $blue-light;
    padding: 20px 30px 20px 30px;


    &.span {
      @include grid-column(6);

      @include grid-media($neat-mobile) {
        @include grid-column(4);
      }
    }

    &.shift {
      @include grid-column(6);
      @include grid-shift(3);

      @include grid-media($neat-mobile) {
        @include grid-shift(0);
        @include grid-column(4);
      }
    }
  }
}

*/


/*
.consultantsection {
  @include grid-container;
  .consultantheader {
    @include grid-column(5);
    @include grid-push(-0.2);
    /* styling 
    background-color: #1c1c1c;
    position: relative;
    height: 152px;
    margin-bottom: 128px;
    z-index: 1;
    /* mobile rules 
  }
  .consultants {
    margin-left: 96px;
    padding: 48px;
    position: absolute;
    font-family: 'muli' sans-serif;
    font-size: 37px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
  }
}

.consultanttiles {
  @include grid-container(8);

  .tile_a,
   {
    @include grid-column(4);
    @include grid-push();
    height: 450px;
    background-color: #2b2b2b;
    color: white;
    padding: 48px;
  }

  .tile_b,
   {
    @include grid-column(4);
    @include grid-push(0);
    height: 450px;
    background-color: #2b2b2b;
    color: white;
    padding: 48px;
  }
}
 */