.jumbo {
  position: relative;
  h1 { font-size: 51px; }
  .cta {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 45%);
    padding-left: 4em;
    padding-right: 4em;
  }
}

$break-sidebar: 'max-width: 1120px';

.job-spec {
  position: relative;
  padding: 0 123px;
  margin-top: 78px;

  aside {
    position: absolute;
    top: 27px;
    right: 123px;
    width: 337px;

    @media screen and ($break-sidebar) {
      width: 45%;
      float: left;
      position: static;
    }

    .key-contact {
      h2,
      h3 {
        font-family: $muli-font;
        font-size: 26px;
        margin-top: 24px;
        margin-bottom: 64px;
      }
      img {
        display: block;
      }

      .sector {
        font-size: 19px;
      }
      .details {
        font-size: 16px;
      }
    }
  }

  .copy {
    margin-right: 417px;
    @media screen and ($break-sidebar) {
      margin-right: 0;
    }

    h2 {
      font-size: 37px;
      margin-top: 24px;
      margin-bottom: 64px;
    }
  }

  .side-box {
    background-color: $shark-black;
    padding: 24px;
    color: $white;
    * { color: $white; }
  }
}