$jobboard-collapse: 1284px;
$jobboard-collapse2: 720px;

.job-board {
    width: 1264px;
    margin: 0 auto;

    @media screen and (max-width: $jobboard-collapse){
        width: 100vw;
    }
}

#job-search {
    padding: 30px 46px;
    margin: 20px 20px;  
    background-color: #191b1d;
    border-radius: 3px;

    @media screen and (max-width: $jobboard-collapse){
        margin: 0;
        border-radius: 0;
    }
}

.job-search-grid {
    display: grid;
    grid-gap: 48px;
    grid-template-columns: 73fr 27fr;
    grid-template-areas: "search button";
    @media screen and (max-width: $jobboard-collapse) {
        grid-gap: 0;
    }
    
    @media screen and (max-width: $jobboard-collapse2) {
        grid-template-columns: auto min-content;
    }

    input, button {
        height: 48px;
        border-radius: 2px;        
        border: none;

        @media screen and (max-width: $jobboard-collapse){
            margin: 0;
        }    
    }
    .search-box {
        grid-area: search;
        padding: 0 28px;
        @media screen and (max-width: $jobboard-collapse){
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        } 
    }

    .submit {
        &::before {
            content: 'search';
            text-transform: uppercase;    
        }
        grid-area: button;
        background-color: #008eda;
        color: white;
        font-size: 16px;
        @media screen and (max-width: $jobboard-collapse){
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        } 

        @media screen and (max-width: $jobboard-collapse2) {
            &::before {
                font-family: 'Material Icons';
                font-weight: normal;
                font-style: normal;
                font-size: 24px;
                line-height: 1;
                letter-spacing: normal;
                text-transform: none;
                display: inline-block;
                white-space: nowrap;
                word-wrap: normal;
                direction: ltr;
                -webkit-font-feature-settings: 'liga';
                -webkit-font-smoothing: antialiased;
                vertical-align: -27%;
                
                content: 'search';
                text-transform: none;    
            }
            min-width: 49px;
        }
    }
}