.topsectionmeet {
  margin-bottom: 250px;
}

.herocontentmeet {
  margin: 148px 148px 5% 48px;
  color: #2b2b2b;
}


/* Extraodinary block */
.valuescontainer {
  height: 20vh;
  .newscontainer {
    background-color: #1c1c1c;
    padding: 48px;
    position: relative;
    height: 284px;
    margin-bottom: 128px;
    z-index: 1;
    max-width: 860px;
    float: right;
    width: 100%;
  }

  .betextracopy {
    margin-left: -220px;
    position: absolute;
    font-family: 'impact';
    letter-spacing: 2px;
    font-size: 126px;
    color: #e77397;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2b2b2b;
  }

  .meetextracopy {
    position: absolute;
    font-family: 'impact';
    letter-spacing: 2px;
    font-size: 126px;
    color: #e77397;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* values block */
.meetquotecontainer {
  height: 100%;
  margin-bottom: 850px;
  .quotecontainer {
    background-color: #1c1c1c;
    padding: 48px;
    position: relative;
    height: 284px;
    margin-bottom: 128px;
    z-index: 1;
    max-width: 860px;
    float: left;
    width: 100%;
  }

  .quote {
    font-family: 'muli';
    font-weight: bold;
    font-size: 37px;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline;
  }

  .hellotrigger {
    font-family: 'muli';
    font-weight: bold;
    font-size: 37px;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: lowercase;
    display: inline;
    border-bottom: 4px solid #2496d4;
    transition: all 0.3s ease-in-out;
  }

  .hellotrigger:hover {
    border-color: #fff;
    transition: all 0.3s ease-in-out;
  }
}

.madness-container {
  height: 1000px;
  width: 100%;
  .madness-background {
    height: 65%;
    width: 100%;
    background-color: #2b2b2b;
  }
}