.inner-container {
  max-width: 1440px;
  margin: 0 auto;
}

.herocontentmeet {
  padding: 148px 148px 185px 48px;
  color: #1c1c1c;
}


/* Extraodinary block */
.valuescontainer {
  height: 240px;
  .newscontainer {
    background-color: #1c1c1c;
    padding: 48px;
    position: relative;
    height: 284px;
    margin-bottom: 265px;
    z-index: 1;
    max-width: 860px;
    float: right;
    width: 100%;
  }

  .betextracopy {
    margin-left: -220px;
    position: absolute;
    font-family: 'impact';
    letter-spacing: 2px;
    font-size: 126px;
    color: #e77397;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2b2b2b;
  }

  .meetextracopy {
    position: absolute;
    font-family: 'impact';
    letter-spacing: 2px;
    font-size: 126px;
    color: #e77397;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* values block */
.meetquotecontainer {
  height: 100%;
  margin-bottom: 780px;
  min-height: 284px;
  .quotecontainer {
    background-color: #1c1c1c;
    padding: 48px 48px 48px 108px;
    position: relative;
    margin-bottom: 128px;
    z-index: 1;
    max-width: 860px;
    float: left;
    width: 100%;
  }

  .quote {
    font-family: 'muli';
    font-weight: bold;
    font-size: 37px;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline;
  }

  .hellotrigger {
    font-family: 'muli';
    font-weight: bold;
    font-size: 37px;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: lowercase;
    display: inline;
    border-bottom: 4px solid #2496d4;
    transition: all 0.3s ease-in-out;
  }

  .hellotrigger:hover {
    border-color: #fff;
    transition: all 0.3s ease-in-out;
  }
}

/* video section */
.madness-container {
  height: 640px;
  width: 100%;
  position: relative;
  .vimeosection {
    float: right;
    margin: -262px 48px 48px 48px;
  }
  .madness-background {
    height: 100%;
    width: 100%;
    background-color: #1c1c1c;
    .madness-quote {
      font-family: 'muli';
      padding: 48px;
      font-weight: bold;
      font-size: 37px;
      color: #fff;
      position: absolute;
      bottom: 0;
      left: 0;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
}