/* main CTA global button style */

.sectorbutton {
  background-color: #1897D4;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.5s; /* Safari */
  transition-duration: 0.5s;
  border-radius: 2px;
  cursor: pointer;
  text-transform: uppercase;
  min-width: 180px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
}
.sectorbutton:hover {
  background-color: rgb(17, 100, 138);
  -webkit-transition-duration: 0.5s; /* Safari */
  transition-duration: 0.5s;
}

/* Hero video styles */
.herosectors {
  position: relative;
  z-index: 1;
  padding-bottom: 128px;
}

.videocontainersectors {
  background-color: $shark-black;
  height: 70%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  position: relative;
}


.videocontainersectors::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: radial-gradient(transparent 30%, rgba(0, 0, 0, 0.5) 70%);
}
.herocontentsectors {
  position: absolute;
  color: #ffffff;
  top: 25%;
  padding: 0px 96px 0px 96px;
}

@media screen and (max-width: 1024px) and (min-width: 650px) {
  .herocontentsectors {
    position: absolute;
    color: #ffffff;
    padding: 0px 48px 0px 48px;
  }
}

@media screen and (max-width: 650px) {
  .herocontentsectors {
    position: absolute;
    color: #ffffff;
    padding: 0px 48px 0px 48px;
  }
}

.hero-quote {
  font-family: 'muli' sans-serif;
  font-size: 37px;
  max-width: 710px;
  color: #fff;
  padding-bottom: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .hero-quote {
    font-size: 37px;
    margin-bottom: 24px;
    color: #fff;
  }
}

@media screen and (max-width: 768px) {
  .hero-quote {
    font-size: 26px;
    margin-bottom: 24px;
    color: #fff;
  }
}

@media screen and (max-width: 1024px) {
  .herocontent h1 {
    font-family: 'Impact', sans-serif;
    font-weight: 900;
    font-size: 75px;
    color: #ffffff;
    line-height: 61px;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 768px) {
  .herocontent h1 {
    font-family: 'Impact', sans-serif;
    font-weight: 900;
    font-size: 53px;
    color: #ffffff;
    line-height: 61px;
    letter-spacing: 1;
  }
}






////////////* 1. CONSULTANTS HEADER *////////////
.consultantsection {
  .consultantcontainer {
    background-color: #1c1c1c;
    padding: 48px;
    position: relative;
    height: 152px;
    margin-bottom: 128px;
    z-index: 1;
    max-width: 700px;

    /* mobile rules */
    @media screen and (max-width: 768px) {
      height: 116px;
      margin-bottom: 96px;
      width: 100%;
      padding: 0px;
    }
  }

  .consultantscopy {
    margin-left: 24px;
    position: absolute;
    font-family: 'muli' sans-serif;
    font-size: 37px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
      /* mobile rules */
    @media screen and (max-width: 768px) {
      font-size: 26px;
      text-align: center;
      padding: 39px 0px 39px 0px;
    }
  }
}


////////////* 1 . CONSULTANTS GRID *////////////
$neat-grid: (
  columns: 12,
  gutter: 48px,
  margin-bottom: 48px
);

$neat-tablet: (
  columns: 2,
  media: 'screen and (max-width: 1422px)',
  gutter: 48px
);

$neat-mobile: (
  columns: 1,
  media: 'screen and (max-width: 768px)',
  gutter: 24px
);

.consultanttiles-sectors {
  @include grid-container;
  padding-bottom: 48px;
  max-width: 1300px;
  margin: 0 auto;
}

.tile_s,
 {
  @include grid-column(6);
  height: 450px;
  color: white;
  margin-bottom: 48px;
  position: relative;
  transition: all 0.5s;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url('..//assets/Benjamin-Gatt_greyscale_small.jpg');

  @include grid-media($neat-tablet) {
    @include grid-column(1);
    position: relative;
  }
  @include grid-media($neat-mobile) {
    @include grid-column(1);
    margin-bottom: 24px;
    height: 350px;
    position: relative;
  }

  .copycontainer {
    color: #fff;
    font-size: 26px;
    font-weight: 300;
    font-family: 'muli' sans-serif;
    padding: 48px;
    left: 0;
    bottom: 0;
    position: absolute;
    -webkit-font-smoothing: antialiased;
    .name {
      margin-bottom: 8px;
    }
    .viewprofile {
      font-size: 19px;
      font-weight: bold;
      text-transform: uppercase;
      -webkit-font-smoothing: antialiased;
    }
  }
}

.tile_s:hover {
  -ms-transform: scale(1.05,1.05); /* IE 9 */
  -webkit-transform: scale(1.05,1.05); /* Safari */
  transform: scale(1.05,1.05); /* Standard syntax */
  transition: all 0.5s;
}

.tile_s .tile_s-overlay {
  background: rgba(0, 145, 218, 0.5);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.tile_s:hover .tile_s-overlay {
  opacity: 1;
}












////////////* LATEST NEWS HEADER *////////////
.newssection {
  width: 100%;
  height: 290px;
  .newscontainer {
    background-color: #1c1c1c;
    padding: 48px;
    position: relative;
    height: 152px;
    margin-bottom: 128px;
    z-index: 1;
    max-width: 700px;
    float: right;
    width: 100%;

    /* mobile rules */
    @media screen and (max-width: 768px) {
      height: 116px;
      margin-bottom: 96px;
      width: 100%;
      padding: 0px;
    }

    .newscopy {
      margin-left: 24px;
      position: absolute;
      font-family: 'muli' sans-serif;
      font-size: 37px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: #fff;
      /* mobile rules */
      @media screen and (max-width: 768px) {
        font-size: 26px;
        text-align: center;
        padding: 39px 0px 39px 0px;
      }
    }
  }
}

////////////* LATEST NEWS GRID *////////////
$neat-grid: (
  columns: 4,
  gutter: 48px,
  margin-bottom: 48px
);

$neat-tablet: (
  columns: 2,
  media: 'screen and (max-width: 1422px)',
  gutter: 48px
);

$neat-mobile: (
  columns: 1,
  media: 'screen and (max-width: 768px)',
  gutter: 24px
);

.newstiles {
  @include grid-container;
  padding-bottom: 48px;
}

.largetile,
 {
  @include grid-column(4);
  height: 450px;
  color: white;
  margin-bottom: 48px;
  position: relative;
  transition: all 0.5s;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url('..//assets/Benjamin-Gatt_greyscale_small.jpg');

  @include grid-media($neat-tablet) {
    @include grid-column(1);
    position: relative;
  }
  @include grid-media($neat-mobile) {
    @include grid-column(1);
    margin-bottom: 24px;
    height: 350px;
    position: relative;
  }

  .rolecopycontainer {
    color: #fff;
    font-size: 26px;
    font-weight: 300;
    font-family: 'muli' sans-serif;
    padding: 48px;
    left: 0;
    bottom: 0;
    position: absolute;
    -webkit-font-smoothing: antialiased;
    .job_details {
      margin-bottom: 8px;
    }
    .viewprofile {
      font-size: 19px;
      font-weight: bold;
      text-transform: uppercase;
      -webkit-font-smoothing: antialiased;
    }
  }
}

.tile_z:hover {
  -ms-transform: scale(1.05,1.05); /* IE 9 */
  -webkit-transform: scale(1.05,1.05); /* Safari */
  transform: scale(1.05,1.05); /* Standard syntax */
  transition: all 0.5s;
}

.tile_z .tile_z-overlay {
  background: rgba(0, 145, 218, 0.5);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.tile_z:hover .tile_z-overlay {
  opacity: 1;
}








///////// TEST GRID NESTING //////////


$sidebar-layout-tablet: (
  columns: 1,
  gutter: 48px,
  media: 'screen and (max-width: 768px)'
);

$product-gallery: (
  columns: 1,
  gutter: 48px,
  media: 'screen and (max-width: 768px)'
);

$sidebar-layout: (
  columns: 3,
  gutter: 48px,
);

$product-gallery: (
  columns: 1,
  gutter: 48px,
);

.sidebar-layout {
  @include grid-container;
  max-width: 1300px;
  margin: 0 auto;
}

.sidebar-layout__sidebar {
  @include grid-column(2, $sidebar-layout);
  height: 648px;
  color: white;
  margin-bottom: 48px;
  position: relative;
  transition: all 0.5s;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url("http://lorempixel.com/800/800");
}

.sidebar-layout__main {
  @include grid-column(1, $sidebar-layout);
}

.product-gallery {
  @include grid-collapse($product-gallery);
  @include grid-container;
}

.product-gallery__item {
  @include grid-column(1, $product-gallery);
  margin-bottom: 1rem;
  height: 300px;
  color: white;
  margin-bottom: 48px;
  position: relative;
  transition: all 0.5s;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url('http://lorempixel.com/600/600');
}

.example__column--fancy {
  background-color: #1c1c1c;
}

.example {
  margin-bottom: 160px;
}






////////////* 3. LATEST ROLES HEADER *////////////
.rolesection {
  width: 100%;
  .rolecontainer {
    background-color: #1c1c1c;
    padding: 48px;
    height: 152px;
    margin-bottom: 128px;
    z-index: 1;
    max-width: 700px;
    width: 100%;

    /* mobile rules */
    @media screen and (max-width: 768px) {
      height: 116px;
      margin-bottom: 96px;
      width: 100%;
      padding: 0px;
    }


    .rolescopy {
      margin-left: 24px;
      position: absolute;
      font-family: 'muli' sans-serif;
      font-size: 37px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: #fff;
      /* mobile rules */
      @media screen and (max-width: 768px) {
        font-size: 26px;
        text-align: center;
        padding: 39px 0px 39px 0px;
      }
    }
  }
}

////////////* 3. LATEST ROLES GRID *////////////
$neat-grid: (
  columns: 12,
  gutter: 48px,
  margin-bottom: 48px
);

$neat-tablet: (
  columns: 2,
  media: 'screen and (max-width: 1422px)',
  gutter: 48px
);

$neat-mobile: (
  columns: 1,
  media: 'screen and (max-width: 768px)',
  gutter: 24px
);

.rolestiles {
  @include grid-container;
  padding-bottom: 48px;
  max-width: 1300px;
  margin: 0 auto;
}

.role_z,
 {
  @include grid-column(4);
  height: 320px;
  color: white;
  margin-bottom: 48px;
  position: relative;
  transition: all 0.5s;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #1c1c1c;

  @include grid-media($neat-tablet) {
    @include grid-column(1);
    position: relative;
  }
  @include grid-media($neat-mobile) {
    @include grid-column(1);
    margin-bottom: 24px;
    height: 350px;
    position: relative;
  }

  .rolecopycontainer {
    height: 100%;
    width: 100%;
    position: relative;
  }
  .rolecopycontainer {
    color: #fff;
    font-size: 19px;
    font-weight: bold;
    font-family: 'muli' sans-serif;
    padding: 48px;
    left: 0;
    top: 0;
    position: absolute;
    -webkit-font-smoothing: antialiased;
  }
  .job_details {
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    font-family: 'muli' sans-serif;
    margin: 24px 24px 24px 68px;
    left: 0;
    padding-bottom: 8px;
    position: absolute;
    -webkit-font-smoothing: antialiased;
    list-style-type: disc;
    li {
      margin-bottom: 8px;
    }
  }
  .viewjob {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-family: 'muli' sans-serif;
    text-transform: uppercase;
    padding: 48px;
    left: 0;
    bottom: 0;
    position: absolute;
    -webkit-font-smoothing: antialiased;
  }
}

.role_z:hover {
  -ms-transform: scale(1.05,1.05); /* IE 9 */
  -webkit-transform: scale(1.05,1.05); /* Safari */
  transform: scale(1.05,1.05); /* Standard syntax */
  transition: all 0.5s;
  -webkit-transform: translateZ(0px);
}

.role_z .role_z-overlay {
  background: rgba(0, 145, 218, 1);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.role_z:hover .role_z-overlay {
  opacity: 1;
}

.role_sector_search,
 {
  @include grid-column(4);
  height: 320px;
  color: white;
  margin-bottom: 48px;
  position: relative;
  transition: all 0.5s;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #1c1c1c;

  @include grid-media($neat-tablet) {
    @include grid-column(1);
    position: relative;
  }
  @include grid-media($neat-mobile) {
    @include grid-column(1);
    margin-bottom: 24px;
    height: 350px;
    position: relative;
  }

  .rolecopycontainer {
    height: 100%;
    width: 100%;
    position: relative;
  }
  .rolecopycontainer {
    color: #fff;
    font-size: 19px;
    font-weight: bold;
    font-family: 'muli' sans-serif;
    padding: 48px;
    left: 0;
    top: 0;
    position: absolute;
    -webkit-font-smoothing: antialiased;
  }
  .viewprofile {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-family: 'muli' sans-serif;
    text-transform: uppercase;
    padding: 48px;
    left: 0;
    bottom: 0;
    position: absolute;
    -webkit-font-smoothing: antialiased;
  }
}

.role_sector_search:hover {
  -ms-transform: scale(1.05,1.05); /* IE 9 */
  -webkit-transform: scale(1.05,1.05); /* Safari */
  transform: scale(1.05,1.05); /* Standard syntax */
  transition: all 0.5s;
  -webkit-transform: translateZ(0px);
}

.role_sector_search .role_sector_search-overlay {
  background: rgba(0, 145, 218, 1);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.role_sector_search:hover .role_sector_search-overlay {
  opacity: 1;
}












