/* mian CTA global button style */

.sectorbutton {
  background-color: #1897D4;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.5s; /* Safari */
  transition-duration: 0.5s;
  border-radius: 2px;
  cursor: pointer;
  text-transform: uppercase;
  min-width: 180px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
}
.sectorbutton:hover {
  background-color: rgb(17, 100, 138);
  -webkit-transition-duration: 0.5s; /* Safari */
  transition-duration: 0.5s;
}

/* Hero video styles */
.herosectors {
  position: relative;
  z-index: 1;
  padding-bottom: 128px;
}

.videocontainersectors {
  background-color: $shark-black;
  height: 70%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  position: relative;
}


.videocontainersectors::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: radial-gradient(transparent 30%, rgba(0, 0, 0, 0.5) 70%);
}
.herocontentsectors {
  position: absolute;
  color: #ffffff;
  top: 25%;
  padding: 0px 96px 0px 96px;
}

@media screen and (max-width: 1024px) and (min-width: 650px) {
  .herocontentsectors {
    position: absolute;
    color: #ffffff;
    padding: 0px 48px 0px 48px;
  }
}

@media screen and (max-width: 650px) {
  .herocontentsectors {
    position: absolute;
    color: #ffffff;
    padding: 0px 48px 0px 48px;
  }
}

.hero-quote {
  font-family: 'muli' sans-serif;
  font-size: 37px;
  max-width: 710px;
  color: #fff;
  padding-bottom: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .hero-quote {
    font-size: 37px;
    margin-bottom: 24px;
    color: #fff;
  }
}

@media screen and (max-width: 768px) {
  .hero-quote {
    font-size: 26px;
    margin-bottom: 24px;
    color: #fff;
  }
}

@media screen and (max-width: 1024px) {
  .herocontent h1 {
    font-family: 'Impact', sans-serif;
    font-weight: 900;
    font-size: 75px;
    color: #ffffff;
    line-height: 61px;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 768px) {
  .herocontent h1 {
    font-family: 'Impact', sans-serif;
    font-weight: 900;
    font-size: 53px;
    color: #ffffff;
    line-height: 61px;
    letter-spacing: 1;
  }
}


/* section header */
.consultantsection {
  .consultantcontainer {
    background-color: #1c1c1c;
    padding: 48px;
    position: relative;
    height: 152px;
    margin-bottom: 128px;
    z-index: 1;
    max-width: 700px;
    /* mobile rules */
    @media screen and (max-width: 768px) {
      height: 116px;
      margin-bottom: 96px;
      width: 100%;
      padding: 0px;
    }
  }

  .consultantscopy {
    margin-left: 24px;
    position: absolute;
    font-family: 'muli' sans-serif;
    font-size: 37px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    @media screen and (max-width: 768px) {
      font-size: 26px;
      text-align: center;
      padding: 39px 0px 39px 0px;
    }
  }
}

/* consultant grid */
$neat-mobile: (
  columns: 1,
  media: 'screen and (max-width: 767px)'
);

.consultanttiles {
  @include grid-container();
  margin: 48px;

  .tile_a,
   {
    @include grid-column(4);
    height: 450px;
    background-color: #2b2b2b;
    color: white;
    padding: 48px;
  }

  .tile_b,
   {
    @include grid-column(4);
    height: 450px;
    background-color: #2b2b2b;
    color: white;
    padding: 48px;
  }
}


.test {
  border: 1px solid black;
  @include grid-container;
  position: relative;
  & > div {
    height: 20px;
    margin-bottom: 20px;
    background-color: #2b2b2b;
  }
  .a,
  .b,
  .c,
  .d {
    @include grid-column(4);
  }
}