@import 'reset.scss';
@import 'collapse-js.scss';
@import 'common.scss';

/* Breakpoints */

$menu-small-width: 650px;
main {
  background-color: #fff;
  z-index: 1;
}

body {
  width: 100%;
  width: 100%;
  background: rgb(255, 255, 255);
  font-family: "Muli", Helvetica, Arial, sans-serif;
  font-size: 19px;
  margin: 0; 
  color: #2d2d2d;
}

a {
  color: #2d2d2d;
  text-decoration: none;
}

.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;

  li {
    display: inline-block;
  }
}

h1 {
  font-family: 'Impact', sans-serif;
  font-weight: 900;
  font-size: 75px;
  color: #2d2d2d;
}

.container-normal {
  padding-bottom: 20px;
}

.container, .container-normal {
  margin-top:64px;  
  background-color: white;
}

.container {
  margin: 0 auto;
  width: 100vw;
  height:100%;
  position: fixed;
  margin-top:60px;

  img {
    display: block;
    width: 115%; 
    pointer-events: none;
  }
  
  .button {
    background: #2d2d2d;
    border: 1px solid #2d2d2d;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    height: 34px;
    line-height: 16px;
    margin: 0;
    outline: none;
    padding: 12px;
    text-align: center;
    border-radius: 2px;
    font-weight: 600 !important;
    box-shadow: none;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    }

  .button:hover {
      background-color: #fff;
      color: #2d2d2d;
      border: 1px solid #fff;
      font-weight: 400;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
  }

/*media queries for each element*/

@media screen and (max-width: 1024px) {
.container {
  margin: 0 auto;
  width: 100vw;
  position: absolute;
  margin-top:270px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {

  .container {
    margin: 0 auto;
    width: 100vw;
    position: absolute;
    margin-top:270px;
    }
}

@media screen and (max-width: 768px) and (min-width: 480px) {

  .container {
    margin: 0 auto;
    width: 100vw;
    position: absolute;
    margin-top:330px;
    }

}

@import 'job-search-home.scss';
@import 'header-and-nav.scss';
@import 'job-board.scss';
@import 'footer.scss';