@import "reset.scss";
@import "collapse-js.scss";
@import "common.scss";

/* Breakpoints */

$menu-small-width: 650px;

main {
    background-color: #fff;
    z-index: 1;
}

body {
    width: 100%;
    width: 100%;
    background: rgb(255, 255, 255);
    font-family: "Muli", Helvetica, Arial, sans-serif;
    font-size: 19px;
    margin: 0;
    color: #2d2d2d;
}

a {
    color: #2d2d2d;
    text-decoration: none;
}

.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;

    li {
        display: inline-block;
    }
}

h1 {
    font-family: 'Impact', sans-serif;
    font-weight: 900;
    font-size: 75px;
    color: #2d2d2d;
}

@import "homepage.scss";
@import "job-search-home.scss";
@import "header-and-nav.scss";
@import "job-board.scss";
@import "footer.scss";
