@import "./variables.scss";
@import "./reset.scss";
@import "./common.scss";
@import "./collapse-js.scss";


.fourzerofour {
  margin: 44px;

  .container {
    margin: 0 auto;
    width: 100vw;
    height: 100%;
    position: fixed;
    margin-top: 60px;
    .scene {
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;
      .backgound-copy1 {
        font-family: $font-impact;
        font-size: 300px;
        letter-spacing: 4px;
        line-height: 0px;
        margin: 0;
        color: #c91e1e;
        position: fixed;
        left: 0%;
        top: -5%;
      }
    }

/*media queries for each element*/

    @media screen and (max-width: 480px) {
    }
    
    /* Keyframes for the fade-in */
    @-webkit-keyframes fadeIn {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    @-moz-keyframes fadeIn {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    .fade-in {
      opacity: 0;
      opacity: 1 \9; /*just in case ie*/
      -webkit-animation: fadeIn ease-in 1;
      -moz-animation: fadeIn ease-in 1;
      animation: fadeIn ease-in 1;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-duration: 1.0s;
      -moz-animation-duration: 1.0s;
      animation-duration: 1.0s;
    }

    .fade-in.container {
      -webkit-animation-delay: 0.1s;
      -moz-animation-delay: 0.1s;
      animation-delay: 0.1s;
    }
  }
}
@import "./header-and-nav.scss";
