.container.candidates {
  h2 {
    font-size: 1.37em;
    margin-top: 96px;
    margin-bottom: 128px;
    @media screen and (#{$media-sm}) {
      margin-top: 128px;
      margin-bottom: 64px;
    }
  }
  .right-block,
  .left-block {
    background-color: rgba(0, 142, 218, 0.8);
    padding: -100px;

    .block-contents {
      @extend %max-width;
      font-weight: normal;
      color: $white;
      .can-head {
        font-size: 37px;
        margin-bottom: 48px;
      }
      .can-copy {
        font-size: 26px;
      }
    }
  }
  .right-block {
    margin-top: -48px;
    width: 80vw;
  }
  .can-img {
    height: 520px;
    background-repeat: no-repeat;
    background-image: cover;
    background-size: 100%;
    background-position: center center;
  }
}