.container.candidates {
  h2 {
    font-size: 1.37em;
    margin-top: 96px;
    margin-bottom: 128px;
    @media screen and (#{$media-sm}) {
      margin-top: 128px;
      margin-bottom: 64px;
    }
  }
  .right-block,
  .left-block {
    opacity: .8;
    background-color: #008eda;
    padding: -100px;

    .block-contents {
      font-weight: normal;
      padding: 48px;
    }
  }
  .can-img {
    height: 520px;
    background-repeat: no-repeat;
    background-image: cover;
    background-size: 100%;
    background-position: center center;
  }
}