.container.candidates {
  margin-bottom: 256px;
  h2 {
    font-size: 1.37em;
    @media screen and (#{$media-xsm}) {
      margin-top: 24px;
      margin-bottom: 24px;
    }
  }
  .can-section {
    margin-top: 128px;
    margin-bottom: 384px;
    &.last-can-section {
      margin-bottom: 24px;
    }
    .right-block,
    .left-block {
      min-height: 514px;
      @media screen and (max-width: 825px) {
        min-height: 0px;
        padding-bottom: 48px;
        position: relative;
      }

      &.block-first {
        background-color: rgba(0, 142, 218, 0.7);
        margin-top: 96px;
        margin-left: 96px;
        padding-right: 96px;
        @media screen and (max-width: 825px) {
          margin-top: 24px;
          margin-left: 24px;
          padding-right: 48px;
          margin-bottom: 48px;
          width: 100%;
          @media screen and (#{$media-xsm}) {
            margin-top: 24px;
            margin-left: 24px;
            padding-right: 0px;
          }
        }
      }
      &.block-third {
        background-color: rgba(132, 195, 234, 0.7);
        margin-top: 96px;
        margin-left: 96px;
        padding-right: 96px;
        @media screen and (max-width: 825px) {
          margin-top: 24px;
          margin-left: 24px;
          padding-right: 48px;
          margin-bottom: 48px;
          width: 100%;
          @media screen and (#{$media-xsm}) {
            margin-top: 24px;
            margin-left: 24px;
            padding-right: 0px;
          }
        }
      }
      &.block-second {
        background-color: rgba(231, 115, 151, 0.7);
        margin-top: 96px;
        margin-right: 96px;
        padding-left: calc((100vw - 1300px)/2);
        @media screen and (max-width: 825px) {
          margin-top: 24px;
          margin-right: 24px;
          padding-left: 48px;
          width: 100%;
          @media screen and (#{$media-xsm}) {
            margin-top: 24px;
            margin-right: 0px;
            padding-left: 24px;
          }
        }
      }

      &.block-fourth {
        background-color: rgba(231, 115, 151, 0.7);
        margin-top: 96px;
        margin-right: 96px;
        padding-left: calc((100vw - 1300px)/2);
        @media screen and (max-width: 825px) {
          margin-top: 24px;
          margin-right: 24px;
          padding-left: 48px;
          width: 100%;
          @media screen and (#{$media-xsm}) {
            margin-top: 24px;
            margin-right: 0px;
            padding-left: 24px;
          }
        }
      }

      .block-contents {
        font-weight: normal;
        color: $white;
        padding-left: 96px;
        padding-top: 96px;
        padding-bottom: 96px;
        @media screen and (max-width: 825px) {
          padding-right: 48px;
          padding-left: 48px;
          padding-bottom: 48px;
          width: 100%;
          @media screen and (#{$media-xsm}) {
            padding-right: 48px;
            padding-left: 24px;
            padding-bottom: 24px;
          }
        }
        .can-head {
          font-size: 37px;
          margin-bottom: 48px;
          @media screen and (#{$media-xsm}) {
            font-size: 26px;
            margin-bottom: 24px;
          }
        }
        .can-copy {
          font-size: 26px;
          @media screen and (#{$media-xsm}) {
            font-size: 19px;
          }
        }
      }
    }
    .can-img {
      min-height: 514px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right;
      position: relative;
      @media screen and (#{$media-sm}) {
        background-position: right;
        min-height: 520px;
      }
    }

    .candidates-pop-trigger {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }

// below section
    .can-standard {
      background-color: $shark-black;
      @extend %stretch-over-max-width-r;
      @extend %max-width-inner;
      margin-bottom: 128px;

      .right-contents {
        padding: 128px 0;
        color: $white;
      }
    }
    .wearenot {
      font-size: 37px;
      font-weight: bold;
      padding-left: 48px;
      @media screen and (#{$media-sm}) {
        padding-left: 24px;
      }
    }
    .canyoutell {
      padding-bottom: 96px;
      padding-left: 48px;
      @media screen and (#{$media-sm}) {
        padding-left: 24px;
      }
    }
  }

  /* Link grid */

  $neat-grid: (
    columns: 2,
    gutter: 48px,
    margin-bottom: 48px
  );

  $neat-tablet: (
    columns: 2,
    media: 'screen and (max-width: 1422px)',
    gutter: 48px
  );

  $neat-mobile: (
    columns: 1,
    media: 'screen and (max-width: 1024px)',
    gutter: 24px
  );

  .candidatesgrid {
    .candidates {
      @include grid-container;
      @include grid-collapse;
      @include grid-media($neat-tablet) {
        @include grid-collapse;
      }
      @include grid-media($neat-mobile) {
        @include grid-collapse;
      }
      padding-bottom: 48px;
    }

    .tile_z,
     {
      @include grid-column(6);
      z-index: 1;
      height: 420px;
      color: white;
      margin-bottom: 48px;
      position: relative;
      transition: all 0.5s;
      overflow: hidden;
      background-color: $shark-black;

      @include grid-media($neat-tablet) {
        @include grid-column(1);
        position: relative;
      }
      @include grid-media($neat-mobile) {
        @include grid-column(1);
        margin-bottom: 24px;
        height: 350px;
        position: relative;
      }

      .copycontainer {
        color: #fff;
        font-size: 26px;
        font-weight: 300;
        font-family: 'muli' sans-serif;
        padding: 48px;
        left: 0;
        bottom: 0;
        position: absolute;
        -webkit-font-smoothing: antialiased;
        .name {
          margin-bottom: 8px;
        }
        .tile-title {
          font-size: 19px;
          font-weight: bold;
          text-transform: uppercase;
          -webkit-font-smoothing: antialiased;
        }
      }
    }

    .tile_z:hover {
      transition: all 0.5s;
    }

    .tile_z .tile_z-overlay {
      background: rgba(0, 145, 218, 1);
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      -webkit-transition: all 0.4s ease-in-out 0s;
      -moz-transition: all 0.4s ease-in-out 0s;
      transition: all 0.4s ease-in-out 0s;
    }

    .tile_z:hover .tile_z-overlay {
      opacity: 1;
    }

    .localsgrid {
      z-index: 1;
    }
  }
}