.container.clients {
  h2 {
    font-size: 1.37em;
    margin-top: 256px;
    margin-bottom: 128px;
    @media screen and (#{$media-sm}) {
      margin-top: 128px;
      margin-bottom: 64px;
    }
  }
  .section1,
  .section2,
  .section3 {
    width: 100%;
    margin-bottom: 578px;
    @media screen and (#{$media-sm}) {
      margin-bottom: 339px;
    }
    .one {
      left: -60px;
      top: 20%;
      letter-spacing: 10px;
      @media screen and (#{$media-sm}) {
        top: 23%;
      }
    }
    .two {
      left: 50%;
      top: 37%;
      letter-spacing: 10px;
      @media screen and (#{$media-sm}) {
        left: 14%;
        top: 36%;
      }
    }
    .three {
      left: 0;
      top: 53%;
      letter-spacing: 10px;
      @media screen and (#{$media-md}) {
        left: 0;
        top: 49%;
        @media screen and (#{$media-sm}) {
          left: -18%;
          top: 49%;
        }
      }
    }

    .question-one {
      font-size: 37px;
      font-weight: bold;
      position: relative;
      @media screen and (#{$media-sm}) {
        font-size: 26px;
      }
    }
    .question-two {
      font-size: 37px;
      font-weight: bold;
      position: relative;
      padding: 0px 0px 0px 50%;
      @media screen and (#{$media-sm}) {
        padding: 0px 0px 0px 0px;
        font-size: 26px;
      }
    }
    .question-three {
      font-size: 37px;
      font-weight: bold;
      width: 50%;
      position: relative;
      @media screen and (#{$media-sm}) {
        font-size: 26px;
        width: 100%;
      }
    }
    .right-block .block-contents {
      padding: 48px;
      min-width: 60vw;
      @media screen and (#{$media-sm}) {
        padding: 24px;
      }
    }

    .left-block .block-contents {
      padding-top: 48px;
      padding-bottom: 48px;
      min-width: 55vw;
      @media screen and (#{$media-sm}) {
        padding: 24px;
      }
    }
    .block-contents {
      font-family: $font-impact;
      font-weight: normal;
      letter-spacing: 1px;
      font-size: 75px;
      @media screen and (#{$media-sm}) {
        font-size: 52px;
      }
      .answer1 {
        color: $cerulean-blue;
        @media screen and (#{$media-sm}) {
          margin: 24px;
        }
      }
      .answer2 {
        color: $perfect-pink;
        padding: 0px 24px 48px 0px;
        float: right;
        @media screen and (#{$media-sm}) {
          font-size: 52px;
          padding: 0px 24px 24px 0px;
        }
      }
      .answer3 {
        color: $chill-blue;
        @media screen and (#{$media-sm}) {
          margin: 24px;
        }
      }
    }
  }
  .client-content {
    @extend %stretch-over-max-width;
    @extend %max-width-inner;
    background-color: $shark-black;
  }
  .block-one {
    color: $white;
    padding: 128px 0px 128px 0px;
    font-size: 26px;
    text-align: center;
    @media screen and (#{$media-sm}) {
      text-align: left;
      font-size: 19px;
      padding: 96px 0px 96px 0px;
    }
  }
}
.client-content2 {
  background-color: $white;
}
.block-two {
  color: $shark-black;
  text-align: center;
  padding: 128px 0px 128px 0px;
  font-size: 26px;
  @media screen and (#{$media-sm}) {
    text-align: left;
    font-size: 19px;
    padding: 96px 0px 96px 0px;
  }
}

