@import 'collapse-js.scss';
@import 'header-and-nav.scss';

%max-width {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 96px);

  @media screen and (max-width: 768px) {
    width: calc(100% - 48px);
  }
}


%max-width-inner-l {
  padding-left: calc((100vw - 1300px)/2);

  @media screen and (max-width: 1396px) {
    padding-left: 48px;
  }

  @media screen and (max-width: 768px) {
    padding-left: 24px;
  }
}


%max-width-inner-r {
  padding-right: calc((100vw - 1300px)/2);

  @media screen and (max-width: 1396px) {
    padding-right: 48px;
  }

  @media screen and (max-width: 768px) {
    padding-right: 24px;
  }
}

%stretch-over-max-width-l {
  margin-left: calc((1300px - 100vw)/2);
  @media screen and (max-width: 1396px) {
    margin-left: -48px;
  }

  @media screen and (max-width: 768px) {
    margin-left: -24px;
  }
}

%stretch-over-max-width-r {
  margin-right: calc((1300px - 100vw)/2);
  @media screen and (max-width: 1396px) {
    margin-right: -48px;
  }

  @media screen and (max-width: 768px) {
    margin-left: -24px;
  }
}

%max-width-inner {
  @extend %max-width-inner-l;
  @extend %max-width-inner-r;
}

%stretch-over-max-width {
  @extend %stretch-over-max-width-l;
  @extend %stretch-over-max-width-r;
}




body > main {
  .container {
    @extend %max-width;
  }
  @extend %margin-under-header;
  overflow: hidden;
  background-color: white;
}

.button {
  min-width: 180px;
  border-radius: $radius;
  height: 48px;
  padding: 8px 16px;
}

.list-inline li {
  display: inline-block;
}

@import 'headers.scss';
@import 'footer.scss';