.hero-full,
.hero-flex,
.hero-clear {
  padding: 96px 48px;
  @media screen and (#{$media-sm}) {
    padding-left: 24px;
    padding-right: 24px;
  }
  margin-bottom: 48px;

  .hero-content {
    @extend %max-width;
    width: 100%;
    text-align: left;

    h1,
    h2,
    h3 {
      font-family: $font-impact;
      &.blue {
        font-family: $font-muli;
        color: $cerulean-blue;
        font-size: 36px;
        font-weight: normal;
        margin: 0;
      }
      &.short {
        margin-bottom: 0.1em;
      }
    }

    @media screen and (#{$media-sm}) {
      h1 {
        font-size: 2.789em;
      }
    }

    &.odd {
      h1,
      h2,
      h3 {
        font-size: 2.289em;
      }

      .hero-subtitle {
        top: 0;
        height: auto;
        font-size: 1.999em;
        font-weight: normal;
        max-width: 850px;
      }
    }

    &.black {
      margin-left: -48px;
      @media screen and (#{$media-md}) {
        margin-left: -48px;
      }

      @media screen and (#{$media-sm}) {
        margin-left: -24px;
      }
      @extend %max-width-inner-l;
      background-color: $shark-black;
      padding-top: 48px;
      padding-bottom: 48px;
      padding-right: 48px;
      display: inline-block;
      width: auto;
    }
  }
}

.hero-full,
.hero-flex {
  z-index: 0;
  background-color: $shark-black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  // for video
  & > div:nth-child(1):not(.hero-content) {
    &.overlay {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    position: relative;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: radial-gradient(transparent 30%, rgba(0, 0, 0, 0.5) 70%);
    }
  }

  .hero-content {
    color: white;

    .hero-subtitle {
      position: relative;
      top: -2em;
      height: 0;
      overflow: visible;
      font-size: 19px;
      &.gray {
        color: $sub-gray;
      }
    }

    @media screen and (#{$media-sm}) {
      .hero-subtitle {
        top: -1.2em;
      }
    }

    dl {
      list-style: none;
      dt {
        display: none;
      }
      dd {
        line-height: 1.2;
        font-size: 16px;
        display: inline-block;
        margin-right: 2em;
        @media screen and (#{$media-sm}) {
          display: block;
          margin-bottom: 8px;
          margin-right: initial;
        }
      }
    }
  }
}

.hero-full {
  min-height: calc(100vh - #{$menu-height});
  @media screen and (max-width: $menu-small-brkpnt) {
    min-height: calc(100vh - #{$menu-small-height});
  }
  padding-top: 96px;
  padding-bottom: 96px;
  position: relative;
  text-align: center;
  font-size: 0;

  &:before {
    content: '';
    display: inline-block;
    height: calc(100vh - #{$menu-height} - 96px - 96px);
    @media screen and (max-width: $menu-small-brkpnt) {
      height: calc(100vh - #{$menu-small-height} - 96px - 96px);
    }
    vertical-align: middle;
    margin-left: 0.25em;
  }

  & > * { font-size: 1rem; }

  .hero-content {
    display: inline-block;
    vertical-align: middle;
  }

  &.no-center {
    &::before {
      content: none;
    }
    text-align: left;
    .hero-content {
      vertical-align: top;
    }
  }

  .max-width {
    width: 100%;
  }
}

.hero-flex {
  position: relative;
  .button.hanging {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    padding-left: 4em;
    padding-right: 4em;
  }
}

.hero-clear {
  background-color: white;
  .hero-content {
    color: #333;
  }
}