@import 'homepage/home_header_search.scss';

/* old school section novo main*/
#novotop {
  margin-top: 352px;
  margin-bottom: 416px;
  @media screen and (#{$media-sm}) {
    margin-top: 166px;
    margin-bottom: 166px;
  }
}
.outer-div {
  @extend %stretch-over-max-width-r;
  @extend %max-width-inner-r;
  height: 270px;
  margin-bottom: 128px;
  margin-left: 28%;
  @media screen and (#{$media-sm}) {
    margin-left: auto;
  }
  background-color: #2b2b2b;
  position: relative;
}
.copyouter {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 72px 64px 48px 64px;
  @media screen and (#{$media-sm}) {
    padding: 94px 48px 48px 30px;
  }
}
#adverb {
  font-size: 26px;
  font-weight: bold;
  line-height: 1.22;
  color: #fff;
  position: absolute;
  padding: 30px 48px 48px 48px;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  @media screen and (#{$media-sm}) {
    padding-left: 0;
  }
}

#latin {
  font-size: 26px;
  line-height: 1.22;
  color: #fff;
  position: absolute;
  padding: 31px 48px 48px 188px;
  display: inline;
  font-style: italic;
  -webkit-font-smoothing: antialiased;
  @media screen and (#{$media-sm}) {
    padding-left: 127px;
  }
}

#description {
  font-size: 26px;
  line-height: 1.22;
  color: #fff;
  position: absolute;
  padding: 86px 48px 48px 44px;
  display: inline;
  -webkit-font-smoothing: antialiased;

  @media screen and (#{$media-sm}) {
    font-size: 20px;
    padding-right: 24px;
    padding: 76px 48px 48px 44px;
    padding-left: 0;
  }
}

.inner-div {
  margin: 0 auto;
  margin-top: -416px;
  margin-left: -130px;
  @media screen and (#{$media-sm}) {
    margin-left: 24px;
    margin-top: -254px;
  }
}

#novo-type {
  font-family: $font-impact;
  font-size: 180px;
  line-height: 1.25;
  text-align: left;
  color: #008eda;
  -webkit-font-smoothing: antialiased;
  @media screen and (#{$media-sm}) {
    font-size: 75px !important;
  }
}
  
  
  /* old school section novo main 2*/

#novobot {
  margin-bottom: 256px;
  @media screen and (#{$media-sm}) {
    margin-bottom: 176px;
  }
}
.block-div {
  @extend %stretch-over-max-width-l;
  @extend %max-width-inner-l;
  height: 260px;
  margin-right: 32%;
  margin-bottom: 96px;
  background-color: #2b2b2b;
  position: relative;
  @media screen and (#{$media-sm}) {
    margin-right: 0%;
  }
}
#copyouter {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 64px 64px 48px 64px;
  @media screen and (#{$media-sm}) {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 91px 64px 48px 28px !important;
  }
}

.whiteblock > div {
  min-height: 240px;
  margin: -80px 0px 0px 20%;
  margin-right: 22%;
  padding: 48px;
  @media screen and (#{$media-sm}) {
    margin: 0px 0px 180px 0px;
    min-height: 0px;
    padding: 0px;
    margin-right: 0px;
  }
  background-color: #ffffff;
  position: relative;
  z-index: 1;
}

#quote {
  font-family: $font-impact;
  letter-spacing: 1px;
  font-size: 37px;
  font-weight: normal;
  line-height: 1.22;
  color: #2b2b2b;
  position: absolute;
  padding: 76px 76px 48px 76px;
  float: left;
  -webkit-font-smoothing: antialiased;
  z-index: 1;

  @media screen and (#{$media-sm}) {
    font-size: 28px;
    padding: 24px;
    margin-right: 0px;
    min-height: 218px;
  }
}
  
  
  /* Animated background typography */
.backgroundwords > div {
  width: 100%;
  position: relative;
  z-index: -10;
}

.original {
  position: relative;
  font-family: $font-impact;
  font-size: 380px;
  line-height: 1;
  color: #f5f4f4;
  -webkit-font-smoothing: antialiased;
  left: 20%;
  z-index: 0;
  pointer-events: none;
  overflow: visible;
  height: 0;
  @media screen and (#{$media-sm}) {
    display: none;
  }
}

.extraoridinary {
  position: relative;
  font-family: $font-impact;
  font-size: 380px;
  line-height: 1;
  color: #f5f4f4;
  -webkit-font-smoothing: antialiased;
  left: -5%;
  top: -570px;
  z-index: 0;
  pointer-events: none;
  overflow: visible;
  height: 0;
  @media screen and (#{$media-sm}) {
    display: none;
  }
}

.yourself-home {
  position: relative;
  font-family: $font-impact;
  font-weight: normal;
  font-size: 380px;
  line-height: 1;
  color: #f5f4f4;
  -webkit-font-smoothing: antialiased;
  z-index: 0;
  left: -400;
  pointer-events: none;
  overflow: visible;
  bottom: 0;
  height: 0;
  @media screen and (#{$media-sm}) {
    font-size: 300px;
    bottom: -1410px;
    left: -110px;
  }
}

#novodefined {
  @extend %stretch-over-max-width;
  position: relative;
  margin-bottom: 240px;
  @media screen and (max-width: 1024px) {
    margin-bottom: 96px;
  }

  @media screen and (max-width: 650px) {
    margin-bottom: -24px;
  }

  .wrapper {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 2fr 2fr 2fr;
    -ms-grid-columns: 2fr 2fr 2fr;
    -ms-grid-rows: 350px 350px;
    
            /*grid-template-columns:repeat(3, 1fr);*/
            /* grid-auto-rows:100px; */
    grid-auto-rows: 380px;
    @media screen and (max-width: 1024px) {
      grid-template-columns: 2fr 2fr;
    }

    @media screen and (max-width: 650px) {
      grid-template-columns: 1fr;
    }
  }

  .wrapper > .sector {
    display: grid;
    background: rgb(184, 184, 184);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (max-width: 650px) {
      margin-bottom: 24px;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 1em;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
    }

    &:nth-child(even) a:hover {
      background: rgba(0, 145, 218, 0.5);
    }

    &:nth-child(odd) a:hover {
      background: rgba(0, 145, 218, 0.5);
    }

    &:nth-child(1) {
      -ms-grid-column: 1;
      -ms-grid-row: 1;
    }
    &:nth-child(2) {
      -ms-grid-column: 2;
      -ms-grid-row: 1;
    }
    &:nth-child(3) {
      -ms-grid-column: 3;
      -ms-grid-row: 1;
    }
    &:nth-child(4) {
      -ms-grid-column: 1;
      -ms-grid-row: 2;
    }
    &:nth-child(5) {
      -ms-grid-column: 2;
      -ms-grid-row: 2;
    }
    &:nth-child(6) {
      -ms-grid-column: 3;
      -ms-grid-row: 2;
    }
  }

  .sectorcopy {
    font-weight: normal;
    text-transform: uppercase;
    color: rgb(255, 255, 255) !important;
    align-self: center;
    text-align: center;
    -webkit-font-smoothing: antialiased;
  }
}
  