$neat-grid: (
    gutter: 48px
);

$neat-grid-sm: (
    gutter: 24px
);

$media-job-md: 'max-width: 1170px';
$media-job-md-px: 1170px;

.job-board {
  @include grid-container; // ensure sidebar doesn't float outside its container.
  @media screen and (#{$media-job-md}) {
    margin-top: -48px;
  }
  .main-search {
    @extend %stretch-over-max-width;
    @media screen and (min-width: $media-job-md-px + 1) {
      margin-left: 0;
      margin-right: 0;
    }
    background-color: $shark-black;
    border-radius: $radius;
    padding: 24px 48px;
    margin-bottom: 48px;
    @media screen and (#{$media-job-md}) {
      margin-bottom: 0;
      border-radius: 0px;
    }
    @media screen and (#{$media-sm}) {
      padding: 24px 24px;
      border-radius: 0px;
    }

    .job-search-grid {
      @include grid-container;
      @include grid-collapse;

      @media screen and (#{$media-job-md}) {
        @include grid-collapse((gutter: 0px));
      }

      .search-box {
        position: relative;
        -webkit-appearance: none;
        border-radius: 0;
        @include grid-column(8.76);
        @media screen and (#{$media-job-md}) {
          @include grid-column(8.76, (gutter: 0px));
          input {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
        }

        .after {
          font-family: 'Material Icons';
          position: absolute;
          right: 25px;
          top: 16px;
          font-size: 19px;
          color: $shark-black;
          pointer-events: none;
        }
      }
      .submit {
        @include grid-column(3.24);
        @media screen and (#{$media-job-md}) {
          @include grid-column(3.24, (gutter: 0px));

          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
        &::before {
          font-family: $font-muli;
          content: 'search';
          text-transform: uppercase;
        }
      }

      @media screen and (max-width: 880px) {
        .search-box {
          width: calc(100% - 48px);
          .after {
            display: none;
          }
        }
        .submit {
          &::before {
            font-family: 'Material Icons';
            text-decoration: none;
            text-transform: none;
          }

          margin: 0;
          width: 48px;
          min-width: auto;
        }
      }
    }
  }

  .filters {
    @extend %stretch-over-max-width;
    @media screen and (min-width: $media-job-md-px + 1) {
      margin-left: 0;
      margin-right: 0;
    }
    float: right;
    width: 290px;
    margin-bottom: 48px;

    @media screen and (#{$media-job-md}) {
      width: auto;
      float: none;
      .wide-only { display: none; }
    }

    .filter-pills {
      list-style: none;
      font-size: 12px;
      line-height: 1.17;
      margin: -8px -8px 0 -8px;
      padding: 0;
      max-height: 155px;
      overflow-y: auto;

      li {
        a {
          display: inline-block;
          color: white;
          text-decoration: none;
          border: 1px solid white;
          padding: 7px 26px 7px 10px;
          border-radius: 2px;
          position: relative;
        }

        a::after {
          content: "x";
          display: block;
          position: absolute;
          top: 9px;
          right: 12px;
          margin-left: 10px;
          font-size: 0.8em;
          vertical-align: top;
        }

        display: inline-block;
  
                  // margin-right: 16px;
        margin: 8px;
      }
    }

    .filter-toggle {
      display: none;
      background: $shark-black;
      color: white;
      border: none;
      font-size: 16px;
      font-weight: normal;
      text-align: center;
      width: 100%;
      padding-bottom: 24px;

      &::before {
        content: 'Hide filters';
      }

      &::after {
        content: 'expand_less';
        margin-left: 0.5em;
        font-family: 'Material Icons';
        vertical-align: middle;
      }

      &.collapsed::before {
        content: 'Show filters';
      }
      &.collapsed::after {
        content: 'expand_more';
      }

      &:hover::before {
        text-decoration: underline;
      }
    }
    @media screen and (#{$media-job-md}) {
      .filter-toggle {
        display: block;
      }
    }

    .side-box {
      margin-top: 14px;
      padding-bottom: 19px;

      @media screen and (min-width: $media-job-md-px) {
        &.collapse {
          display: block;
        }
      }

      @media screen and (#{$media-job-md}) {
        margin-top: 0;
        padding-top: 0;
      }
    }
    .side-box > ul.accordian > li {
      margin-bottom: 27px;

      .sub-menu {
        .sub-menu-ul {
          max-height: 216px;
          overflow: auto;
          &.fixed-height {
            height: 216px;
          }
        }

        & > ul > li,
        input[type=search] {
          margin-top: 15px;
          font-size: 16px;
          line-height: 2;
          -webkit-appearance: none;
        }

        .loc-search {
          position: relative;
          .icon {
            content: 'place';
            font-family: 'Material Icons';
            position: absolute;
            left: 0;
            bottom: 1.6em;
            display: inline-block;
            height: 0;
            overflow: visible;
          }
          input[type=search] {
            background: $shark-black;
            color: $white;
            border: none;
            border-bottom: 1px solid $white;
            padding-left: 35px;
            width: 100%;
            outline: none;
            -webkit-appearance: none;
            border-radius: 2px;

            &::-webkit-input-placeholder {
              color: white;
              opacity: 1;
            }

            &::-moz-placeholder {
              color: white;
              opacity: 1;
            }

            &:-moz-placeholder {
              color: white;
              opacity: 1;
            }

            &:-ms-input-placeholder {
              opacity: 1;
              color: white;
            }

            &::placeholder {
              opacity: 1;
              color: white;
            }
          }
        }
      }

      a {
        display: block;

        .icon-dropdown-down-up {
          float: right;
        }
      }
    }

    .pseudo-checkbox {
      cursor: pointer;
      padding-left: 31px;

      &::before {
        font-family: 'Material Icons';
        content: 'check';
        color: $shark-black;
        position: relative;
        top: 2px;
        display: inline-block;
        margin-right: 13px;
        background-color: $shark-black;
        border: 2px solid white;
        border-radius: 3px;
        width: 18px;
        height: 18px;
        line-height: 0.9;
        text-indent: -1px;
        font-size: 16px;
        margin-left: -31px;
      }

      &:hover::before {
        border-color: $cerulean-blue;
      }
      &.active {
        font-weight: bold;
        &::before {
          background-color: $cerulean-blue;
          border-color: $cerulean-blue;
        }
        &:hover::before {
          border-color: lighten($cerulean-blue, 13);
        }
      }


      input[type=checkbox] {
        visibility: hidden;
      }
    }

    a.clear-btn {
      color: white;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 4;

      &:hover {
        text-decoration: underline;
      }

      padding-bottom: 20px;
      display: block;
    }
  }

  .results {
    margin-right: 338px;
    @media screen and (#{$media-job-md}) {
      margin-right: auto;
    }

    .job-results-grid {
      margin-top: 14px;

      .side-box {
        @extend %stretch-over-max-width;
        @media screen and (min-width: $media-job-md-px + 1) {
          margin-left: 0;
          margin-right: 0;
        }

        overflow: hidden;
        margin-bottom: 48px;
        @include grid-container;
        padding: 48px;
        padding-left: 0;
        padding-right: 0;

        @media screen and (#{$media-sm}) {
          margin-bottom: 24px;
          @include grid-collapse((gutter: 24px));
        }


        h3 {
          @include grid-column(8);
          @media screen and (#{$media-sm}) {
            @include grid-column(12, (gutter: 24px));
          }
          margin-top: 0;
          font-size: 26px;
          font-weight: bold;
        }

        .content {
          @include grid-column(8);

          font-size: 16px;
          overflow: hidden;
          line-height: 1.7;
          padding-bottom: 50px;

          @media screen and (#{$media-sm}) {
            display: none;
          }
        }

        ul {
          @include grid-column(4);
          float: right;
          margin-right: 48px;
          line-height: 1.4;

          li {
            margin-bottom: 0.8em;
          }

          @media screen and (#{$media-sm}) {
            @include grid-column(12, (gutter: 24px));
            margin-top: 0.8em;
            margin-bottom: 24px;
          }
        }

        .forbutton {
          clear: both;
          margin-left: 48px;
          @media screen and (#{$media-sm}) {
            margin-left: 24px;
          }
        }
      }
    }

    .pagination {
      list-style: none;
      margin: 0;
      padding: 0;
      overflow-x: auto;
      white-space: nowrap;
      margin: 48px 0;

      @media screen and (#{$media-sm}) {
        margin: 24px 0;
      }

      li {
        background-color: $iron;
        display: inline-block;
        margin-right: 12px;
        & > a,
        & > span {
          display: block;
          width: 36px;
          height: 36px;
          font-size: 16px;
          padding: 7px 0;
          text-align: center;
        }
        &.active,
        & a:hover {
          background: $shark-black;
          color: white;
          a { color: white; }
        }

        &.next,
        &.prev {
          background-color: $cerulean-blue;
          a { color: white; }
        }
      }
    }
  }
}