.container.joinlocals {
  margin-top: 64px;
  @media screen and (max-width: $menu-small-width) {
    margin-top: 0px;
  }
  background-color: white;
  margin-bottom: 0px;
  position: relative;

  .inner-container {
    z-index: 1;
    margin: 0 auto;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .herocontentmeet {
    padding: 148px 148px 135px 48px;
    color: #1c1c1c;
    @media only screen and (max-width: 768px) {
      font-size: 37px;
      padding: 148px 148px 135px 48px;
    }
  }

  .extraordinary1 {
    font-family: Impact;
    position: absolute;
    font-size: 380px;
    color: #f0f0f0;
    -webkit-font-smoothing: antialiased;
    pointer-events: none;
    top: 0%;
    left: 18%;
    z-index: 0;
  }

  .thelocals1 {
    font-family: Impact;
    position: absolute;
    font-size: 380px;
    color: #f0f0f0;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    pointer-events: none;
    top: 8%;
    left: -5%;
    z-index: 0;
  }

  .join_wise {
    font-family: Impact;
    position: absolute;
    font-size: 380px;
    color: #f0f0f0;
    -webkit-font-smoothing: antialiased;
    pointer-events: none;
    right: -20%;
    top: 40%;
    z-index: 0;
  }

  .join_wise2 {
    @extend %stretch-over-max-width-l;
    font-family: Impact;
    position: absolute;
    font-size: 380px;
    color: #f0f0f0;
    -webkit-font-smoothing: antialiased;
    pointer-events: none;
    top: 48%;
    float: left;
    z-index: 0;
  }

  .join_novo {
    font-family: Impact;
    position: absolute;
    font-size: 380px;
    color: #f0f0f0;
    -webkit-font-smoothing: antialiased;
    pointer-events: none;
    left: 50%;
    margin-top: 600px;
    z-index: 0;
  }

  .extra1 {
    font-family: Impact;
    position: absolute;
    font-size: 380px;
    color: #f0f0f0;
    -webkit-font-smoothing: antialiased;
    pointer-events: none;
    bottom: 500px;
    left: -66%;
    z-index: 0;
  }

/* Extraodinary block */
  .valuescontainer {
    height: 284px;
    margin-bottom: 310px;
    @media only screen and (max-width: 1024px) {
      margin-bottom: 128px;
    }
    @media only screen and (max-width: 768px) {
      margin-bottom: 128px;
    }
    .newscontainer {
      @extend %stretch-over-max-width-r;
      @extend %max-width-inner-r;
      background-color: #1c1c1c;
      padding-top: 48px;
      padding-left: 48px;
      padding-bottom: 48px;
      position: relative;
      margin-bottom: 265px;
      z-index: 1;
      float: right;
      @media only screen and (max-width: 1024px) {
        margin-bottom: 128px;
      }
      @media only screen and (max-width: 768px) {
        margin-bottom: 128px;
        margin-right: -24px;
      }
    }

    .beyourtextracopy {
      margin-left: -246px;
      position: absolute;
      font-family: 'impact';
      letter-spacing: 2px;
      font-size: 146px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: #2b2b2b;
      @media only screen and (max-width: 1024px) {
        margin-left: -166px;
        position: absolute;
        font-size: 99px;
      }
      @media only screen and (max-width: 768px) {
        color: #fff !important;
        font-size: 53px;
        position: inherit;
        margin-left: 0px;
      }
    }

    .meetyourselfcopy {
      font-family: 'impact';
      letter-spacing: 2px;
      font-size: 146px;
      color: #008eda;
      overflow-x: hidden;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      @media only screen and (max-width: 1024px) {
        font-size: 99px;
        position: inherit;
      }
      @media only screen and (max-width: 768px) {
        font-size: 53px;
        width: 80vw;
      }
    }
  }

/* values block */
  .meetquotecontainer {
    margin: 0 auto;
    height: 650px;
    .quotecontainer {
      @extend %stretch-over-max-width-l;
      @extend %max-width-inner-l;
      background-color: #1c1c1c;
      padding-top: 48px;
      padding-bottom: 48px;
      padding-right: 96px;
      position: relative;
      margin-bottom: 56px;
      z-index: 1;
      float: left;
      @media only screen and (max-width: 768px) {
        margin-bottom: 8px;
      }
    }

    .quote {
      font-family: 'muli';
      font-weight: bold;
      font-size: 37px;
      color: #fff;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      display: inline-block;
      @media only screen and (max-width: 768px) {
        font-size: 26px;
      }
    }

    .hellotrigger {
      font-family: 'muli';
      font-weight: bold;
      font-size: 37px;
      color: #fff;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-transform: lowercase;
      display: inline;
      border-bottom: 4px solid #2496d4;
      transition: all 0.3s ease-in-out;
      @media only screen and (max-width: 768px) {
        font-size: 26px;
        border-bottom: 2px solid #2496d4;
      }
    }

    .hellotrigger:hover {
      border-color: #fff;
      transition: all 0.3s ease-in-out;
    }
  }

/* down arrow section black */
  .downsection {
    width: 100%;
    display: inline-block;
    margin-bottom: 220px;
    padding: 96px;
    @media only screen and (max-width: 768px) {
      margin-bottom: 24px 0px 48px 0px;
      padding: 48px;
    }
  }

  .downblackarrow {
    float: left;
    cursor: pointer;
    @media only screen and (max-width: 768px) {
      height: 24px;
      width: 24px;
    }
  }

/* down arrow section white */
  .downmad {
    width: 100%;
    position: static;
    display: inline-block;
    cursor: pointer;
    padding: 24px 48px 96px 0;
    @media only screen and (max-width: 768px) {
      padding: 0px 24px 48px 0;
    }
  }

  .downwhitarrowmad {
    float: left;
    cursor: pointer;
    @media only screen and (max-width: 768px) {
      height: 24px;
      width: 24px;
    }
  }

/* dna section */
  .dna-container {
    width: 100%;
    position: relative;
    z-index: 1;
    @media only screen and (max-width: 768px) {
    }

    .dna-background {
      @extend %stretch-over-max-width;
      @extend %max-width-inner;
      background-color: #1c1c1c;
      margin-bottom: 128px;
      @media only screen and (max-width: 768px) {
        margin-bottom: 128px;
      }
      .dna-head {
        font-family: 'muli';
        margin: 128px 24px 0px 0px;
        font-weight: bold;
        font-size: 37px;
        color: #fff;
        position: relative;
        display: inline-block;
        bottom: 0;
        left: 0;
        width: 100%;
        -webkit-font-smoothing: antialiased;
        text-align: center;
        padding-bottom: 72px;
        @media only screen and (max-width: 768px) {
          font-size: 37px;
          margin: 48px 24px 24px 24px;
          margin-left: 0;
          padding: 48px;
        }
      }
    }
  }
}
.dna-section {
  margin-top: -60px;
  @media only screen and (max-width: 768px) {
    display: none;
  }
}
.vidouter {
  width: 100%;
  height: auto;
}

.vimeocontainer {
  max-width: 1024px;
  max-height: 576px;
  width: 100%;
  float: right;
  margin-top: -200px;
  margin-right: 48px;
  padding-left: 96px;
  padding-bottom: 48px;

  @media only screen and (max-width: 768px) {
    margin-right: -24px;
    width: calc(100% + 48px);
    padding-left: 0px;
    margin-top: 0px;
    padding-bottom: 24px;
  }
}

.vimeoembed {
  position: relative;
  padding-bottom: 51.25%;
  height: 0;
  overflow: hidden;
}
.vimeoembed {
  @media only screen and (max-width: 768px) {
    padding-bottom: 56.25%;
  }
}
.vimeoembed iframe,
.vimeoembed embed,
.vimeoembed object {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


.wise-head {
  font-family: Muli;
  font-size: 53px;
  font-weight: bold;
  line-height: 1.21;
  text-align: left;
  padding: 48px 0px 48px 0px;
  margin-bottom: 280px;
  position: relative;
  z-index: 10;
  @media only screen and (max-width: 768px) {
    font-size: 37px;
    margin-bottom: 48px;
  }
}

// DNA seconsd markup grid for copy section //

  ////////////* DNA *////////////
$neat-grid: (
    columns: 12,
    gutter: 48px,
    margin-bottom: 48px
  );

$neat-tablet: (
    columns: 3,
    media: 'screen and (max-width: 1422px)',
    gutter: 48px
  );

$neat-mobile: (
    columns: 1,
    media: 'screen and (max-width: 768px)',
    gutter: 24px
  );

.dna-grid {
  @include grid-container;
  @include grid-collapse;

  @include grid-media($neat-tablet) {
    @include grid-collapse;
  }
  @include grid-media($neat-mobile) {
    @include grid-collapse;
  }
  padding-bottom: 96px;
  @media only screen and (max-width: 1024px) {
    padding-bottom: 0px;
  }
}

.dna-item,
 {
  @include grid-column(4);
  height: 320px;
  color: white;
  margin-bottom: 48px;
  position: relative;
  @include grid-media($neat-tablet) {
    @include grid-column(1);
    position: relative;
  }
  @include grid-media($neat-mobile) {
    @include grid-column(1);
    margin-bottom: 24px;
    height: 260px;
    position: relative;
  }

  .dna-copy-container {
    height: 100%;
    width: 100%;
    position: relative;
  }
  .dna-copy-container {
    -webkit-font-smoothing: antialiased;
  }
  .dna-number {
    color: #fff;
    font-size: 130px;
    font-weight: normal;
    font-family: $font-impact;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    @media only screen and (max-width: 1024px) {
      font-size: 75px;
    }
  }
  .dna-description {
    color: #fff;
    font-size: 26px;
    font-weight: normal;
    font-family: 'muli' sans-serif;
    text-align: center;
    padding-bottom: 8px;
    -webkit-font-smoothing: antialiased;
    @media only screen and (max-width: 1024px) {
      font-size: 19px;
    }
    @media only screen and (max-width: 768px) {
      width: 80%;
      margin: 0 auto;
    }
    @media only screen and (max-width: 480px) {
      width: 100%;
      margin: 0 auto;
    }
  }
}

// dna animation section //
#animate {
  position: relative;
  svg {
    margin-bottom: 24px;
  }

  path[class^="path"] {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
  }

  .pathFirst {
    animation: grow 7s ease-in-out forwards;
    animation-delay: 1s;
  }

  .pathSecond {
    animation: grow 4s ease-out forwards 0.4s;
    animation-delay: 2.9s;
  }

  @keyframes grow {
    to {
      stroke-dashoffset: 0.4;
    }
  }
  @media only screen and (max-width: 768px) {
    display: none;
  }
}

// Q&A ///
.qa-head {
  font-family: Muli;
  font-size: 53px;
  font-weight: bold;
  line-height: 1.21;
  text-align: left;
  padding: 48px 0px 48px 0px;
  margin-bottom: 96px;
  @media only screen and (max-width: 768px) {
    font-size: 37px;
  }
}

// qa section //
.qa-container {
  width: 100%;
  position: relative;
  z-index: 1;
  @media only screen and (max-width: 768px) {
  }

  .qa-background {
    @extend %stretch-over-max-width-r;
    padding: 48px;
    background-color: #1c1c1c;
    margin-bottom: 256px;
    .qa-head {
      font-family: Muli;
      font-size: 37px;
      font-weight: normal;
      line-height: 1.21;
      text-align: left;
      padding: 24px 24px 24px 24px;
      margin-bottom: 48px;
      color: #fff;
      position: relative;
      display: inline-block;
      bottom: 0;
      left: 0;
      width: 100%;
      -webkit-font-smoothing: antialiased;
      text-align: left;
      @media only screen and (max-width: 768px) {
        font-size: 26px;
        margin: 24px;
        margin-left: 0;
        padding: 24px;
        padding-left: 0;
      }
    }
  }
}

.qabuttons {
  margin-bottom: 48px;
  position: relative;

  .yes {
    margin-left: 24px;
    @media screen and (#{$media-sm}) {
      width: 100%;
      margin-left: 0;
      margin-bottom: 24px;
    }
  }
  .no {
    margin-left: 24px;
    @media screen and (#{$media-sm}) {
      width: 100%;
      margin-left: 0;
    }
  }
}


// progress bar //
#progressbar {
  height: 24px;
  color: #008eda;
  background-color: #cccfd0;
}


// copy for video override
.join {
  font-size: 26px !important;
  font-weight: bold !important;
}

.quote {
  font-family: 'muli';
  font-weight: bold;
  font-size: 37px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline;
  @media only screen and (max-width: 768px) {
    font-size: 26px;
  }
}

.jointrigger {
  font-family: 'muli';
  font-weight: bold;
  color: #fff;
  font-size: 26px;
  display: inline;
  transition: all 0.3s ease-in-out;
  padding-bottom: 4px;
  @media only screen and (max-width: 768px) {
    font-size: 26px;
  }
}
.jointrigger:hover {
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  color: #2496d4;
  @media only screen and (max-width: 768px) {
    font-size: 26px;
    color: #2496d4;
  }
}

.gallerysection {
  .newscontainer {
    @extend .block-header-r;
    .newscopy {
      @extend .copy-r;
    }
  }
  // Image gallery at the bottom //
  $neat-grid: (
  columns: 12,
  gutter: 48px,
);

  $neat-tablet: (
  columns: 12,
  media: 'screen and (max-width: 1422px)',
  gutter: 48px
);

  $neat-mobile: (
  columns: 12,
  media: 'screen and (max-width: 768px)',
  gutter: 24px,
);

  .sector-blog-grid {
    @include grid-container;
    @include grid-collapse;
    @include grid-media($neat-tablet) {
      @include grid-collapse;
    }
    @include grid-media($neat-mobile) {
      @include grid-collapse;
    }
    .first {
      @include grid-column(8); // where 12 is the number of columns total.
      @include grid-media($neat-tablet) {
        @include grid-column(12); //full width
        min-height: 550px;
      }
      @include grid-media($neat-mobile) {
        @include grid-column(12); //full width
        margin-bottom: 28px;
        min-height: 350px;
      }
      transition: all 0.5s;
      overflow: hidden;
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;
      min-height: 688px;
      color: #fff;
      background-color: #1c1c1c;
      margin-bottom: 48px;
    }
    .second {
      @include grid-column(4);
      @include grid-media($neat-tablet) {
        @include grid-column(12); //full width
      }
      @include grid-media($neat-mobile) {
        @include grid-column(12); //full width
      }

      .grid-collapse {
        @include grid-collapse; // this is to make sure you don't get double padding
        @include grid-media($neat-tablet) {
          @include grid-collapse; // this is to make sure you don't get double padding
        }
        @include grid-media($neat-mobile) {
          @include grid-collapse; // this is to make sure you don't get double padding          
        }
      }

      .nest_first,
      .nest_second {
        @include grid-column(12);
        @include grid-media($neat-tablet) {
          @include grid-column(6); //half
        }
        @include grid-media($neat-mobile) {
          @include grid-column(12); //full again
          margin-bottom: 28px;
        }
        transition: all 0.5s;
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 320px;
        position: relative;
        color: #fff;
        background-color: #1c1c1c;
        margin-bottom: 48px;
      }
    }
  }
}
