$container-max-width: 738px;
$container-max-width-mq: #{$container-max-width} + 48px;

.localpress_article {
  .hero-subtitle {
    letter-spacing: 1px;
    margin: 0;
    color: #fff;
  }

  blockquote,
  .quote {
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
    color: $shark-black;
    border-left: 6px solid #008eda;
    display: block;
    padding-left: 0.8em;

    &::before {
      content: open-quote;
      font-style: normal;
    }
    &::after {
      content: close-quote;
      font-style: normal;
    }
  }
  .content-container {

    .lead {
      color: #272727;
    }

    blockquote,
    q {
      quotes: "“" "”";
    }

    ol,
    ul {
      color: #272727;
    }

    p {
      color: #596064;
    }

    ol,
    ul,
    p {
      margin: 2em 0;
    }

    ol {
      li {
        counter-increment: li;
        font-weight: bold;

        &:before {
          color: #008eda;
          content: counter(li) ".";
          margin-right: 0.5em;
          text-align: right;
        }
      }
    }

    ul {
      li {
        font-weight: bold;

        &:before {
          color: #008eda;
          content: "\2022";
          margin-right: 0.5em;
          text-align: right;
        }
      }
    }

    width: 100%;
    max-width: $container-max-width;
    margin: 2em auto 0 auto;

    img:not([width]):not([height]) {
      height: auto;
      width: $max-width;
      margin-left: calc((#{$container-max-width} - #{$max-width})/2);
      margin-right: calc((#{$container-max-width} - #{$max-width})/2);

      @media screen and (#{$media-md}) {
        width: calc(100vw - 96px);
        margin-left: calc((96px + #{$container-max-width} - 100vw)/2);
        margin-right: calc((96px + #{$container-max-width} - 100vw)/2);
      }

      @media screen and (#{$media-sm}) {
        width: calc(100vw - 48px);
        margin-left: calc((48px + #{$container-max-width} - 100vw)/2);
        margin-right: calc((48px + #{$container-max-width} - 100vw)/2);
      }


      @media screen and (max-width: $container-max-width-mq) {
        width: 100vw;
        margin-left: -24px;
        margin-right: -24px;
      }
    }
  }
}

.footer-container {
  width: 100%;
  max-width: $container-max-width;
  margin: 4em auto 0 auto;

  span {
    color: #272727;
  }

  .author {
    margin-top: 48px;

    img {
      height: 76px;
    }
  }

  .author-img,
  .author-text {
    display: inline-block;
    vertical-align: bottom;
  }

  .author-text {
    p {
      margin: 0;
    }
  }

  .author-name {
    font-size: 19px;
    font-weight: bold;
  }

  .author-intro {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #727272;
  }

  .list-share-icons {
    li {
      display: inline-block;
    }

    .icon-linkedin,
    .icon-twitter,
    .icon-facebook,
    .icon-pinterest {
      display: inline-block;
      width: 36px;
      height: 36px;
      background-color: $cape-cod;
      background-repeat: no-repeat;
      background-position: center center;
      border-radius: 2px;
      margin-right: 24px;
      margin-top: 24px;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
    }

    .icon-linkedin {
      background-image: url(/assets/blog-linkedin.svg);
    }

    .icon-twitter {
      background-image: url(/assets/blog-twitter.svg);
    }

    .icon-facebook {
      background-image: url(/assets/facebook.svg);
    }

    .icon-pinterest {
      background-image: url(/assets/pinterest.svg);
    }


    .icon-linkedin:hover,
    .icon-twitter:hover,
    .icon-pinterest:hover,
    .icon-facebook:hover {
      display: inline-block;
      width: 36px;
      height: 36px;
      background-color: #fff;
      background-repeat: no-repeat;
      background-position: center center;
      border-radius: 2px;
      margin-right: 24px;
      margin-top: 24px;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
    }

    .icon-linkedin:hover {
      background-image: url(/assets/blog-linkedin-hover.svg);
    }

    .icon-twitter:hover {
      background-image: url(/assets/blog-twitter-hover.svg);
    }

    .icon-pinterest:hover {
      background-image: url(/assets/pinterest-hover.svg);
    }

    .icon-facebook:hover {
      background-image: url(/assets/facebook-hover.svg);
    }
  }
}