.container-normal-local-press {
  margin-top: 64px;
  @media screen and (max-width: $menu-small-width) {
    margin-top: 56px;
  }
  background-color: white;
  margin-bottom: 0px;

  .roller-container {
    position: relative;
    height: 58px;
    margin-bottom: 56px;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;

    @media screen and (max-width: 768px) {
      overflow-x: scroll;
    }

    .downwhitarrowmad {
      width: 24px;
      height: 30px;
      margin-top: 10px;
    }
  }

  .btn-container {
    white-space: nowrap;
    overflow: hidden;
    margin-left: 50px;
    position: absolute;
    transition: all 0.5s ease-in-out;
    left: 0;
    font-size: 0;
    @media screen and (max-width: 768px) {
      margin-left: 0;
    }
  }

  .btn-next,
  .btn-previous {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .btn-previous {
    left: 0;
    width: 50px;
    z-index: 50;
    background: #fff;
    background: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,1) 50%);

    .downwhitarrowmad {
      transform: rotate(90deg);
    }
  }

  .btn-next {
    right: 0;
    width: 50px;
    z-index: 50;
    text-align: right;
    background: #fff;
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1) 50%);

    .downwhitarrowmad {
      transform: rotate(-90deg);
    }
  }

  .btn-category {
    text-align: center;
    display: inline-block;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #333333;
    border-radius: 2px;
    padding: 14px 24px;
    margin-right: 24px;
    transition: all 0.4s;

    &:hover {
      background-color: $cerulean-blue;
      transition: all 0.4s;
    }
  }

  .blog-container {
    
  // 1. NEWS GRID //
    $neat-grid: (
    columns: 12,
    gutter: 48px,
  );

    $neat-tablet: (
    columns: 12,
    media: 'screen and (max-width: 1170px)',
    gutter: 48px
  );

    $neat-mobile: (
    columns: 12,
    media: 'screen and (max-width: 768px)',
    gutter: 24px,
  );

    .blog-grid {
      clear: both;
      @include grid-container;
      @include grid-collapse;
      @include grid-media($neat-tablet) {
        @include grid-collapse;
      }
      @include grid-media($neat-mobile) {
        @include grid-collapse;
      }
      .first {
        @include grid-column(8); // where 12 is the number of columns total.
        @include grid-media($neat-tablet) {
          @include grid-column(12); //full width
          min-height: 350px;
        }
        @include grid-media($neat-mobile) {
          @include grid-column(12); //full width
          margin-bottom: 28px;
          min-height: 350px;
        }
        transition: all 0.5s;
        overflow: hidden;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        min-height: 688px;
        color: #fff;
        background-color: $shark-black;
        margin-bottom: 48px;
        &:before {
          background-color: rgba(0, 0, 0, 0.3);
          content: '';
          height: 100%;
          left: 0;
          width: 100%;
          position: absolute;
        }
      }

      .second {
        @include grid-column(4);
        @include grid-media($neat-tablet) {
          @include grid-column(12); //full width
        }
        @include grid-media($neat-mobile) {
          @include grid-column(12); //full width
        }

        .grid-collapse {
          @include grid-collapse; // this is to make sure you don't get double padding
          @include grid-media($neat-tablet) {
            @include grid-collapse; // this is to make sure you don't get double padding
          }
          @include grid-media($neat-mobile) {
            @include grid-collapse; // this is to make sure you don't get double padding          
          }
        }

        .nest_first,
        .nest_second {
          @include grid-column(12);
          @include grid-media($neat-tablet) {
            @include grid-column(6); //half
          }
          @include grid-media($neat-mobile) {
            @include grid-column(12); //full again
            margin-bottom: 28px;
          }
          transition: all 0.5s;
          overflow: hidden;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: top center;
          min-height: 320px;
          position: relative;
          color: #fff;
          background-color: $shark-black;
          margin-bottom: 48px;
          &:before {
            content: '';
            z-index: -1;
            background: rgba(0, 0, 0, 0.3);
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
          }
        }
      }
    }

  /* SMALL GRID */
    $neat-grid: (
    columns: 12,
    gutter: 48px,
    margin-bottom: 48px
    );

    $neat-tablet: (
    columns: 1,
    media: 'screen and (max-width: 1170px)',
    gutter: 48px
    );

    $neat-mobile: (
    columns: 1,
    media: 'screen and (max-width: 768px)',
    gutter: 24px
    );

    .blog-container {
      @include grid-container;
      padding-bottom: 48px;
    }

    .tile_z {
      @include grid-column(4);
      z-index: 1;
      height: 320px;
      color: white;
      margin-bottom: 48px;
      position: relative;
      transition: all 0.5s;
      overflow: hidden;
      background-color: $shark-black;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;
      -webkit-backface-visibility: hidden;
      background-image: url('..//assets/Benjamin-Gatt_greyscale_small.jpg');
      &:before {
        content: '';
        z-index: -1;
        background: rgba(0, 0, 0, 0.3);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
      }


      @include grid-media($neat-tablet) {
        @include grid-column(1);
        height: 340px;
        position: relative;
      }
      @include grid-media($neat-mobile) {
        @include grid-column(1);
        margin-bottom: 24px;
        height: 350px;
        margin-left: 24px;
        position: relative;
      }
    }

    .tile_z .tile_z-overlay {
      background: rgba(0, 145, 218, 0.5);
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      -webkit-backface-visibility: hidden;
      -webkit-transition: all 0.4s ease-in-out 0s;
      -moz-transition: all 0.4s ease-in-out 0s;
      transition: all 0.4s ease-in-out 0s;
    }

    .tile_z:hover .tile_z-overlay {
      transition: all 0.5s;
      opacity: 1;
    }
  }

  // ARTICLE CONETNT STYLES //
  .news-content-container {
    padding: 48px;
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
    .sector-lable {
      font-family: $font-muli;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.4;
      text-transform: uppercase;
      color: #a0a8ac;
      padding-bottom: 16px;
    }
    .article-title {
      font-family: $font-muli;
      font-weight: bold;
      color: #fff;
      font-size: 19px;
      line-height: 1.4;
      padding-bottom: 16px;
    }

    .read-news-cta {
      color: #fff;
      font-weight: bold;
      font-size: 16px;
      position: absolute;
      text-transform: uppercase;
      bottom: 48px;
    }
  }
  
  // SMALL GRID RESPONSIVE MARGING//
  .margin-small-grid {
    margin-left: -48px;
    margin-right: -48px;
    @media screen and (max-width: 768px) {
      margin-left: -24px;
      margin-right: -24px;
    }
  }
}