.localpress_article {
  blockquote,
  .quote {
    font-size: 26px;
    font-weight: bold;
    font-style: italic;
    color: #000;
    border-left: 6px solid #008eda;
    display: block;
    padding-left: 0.8em;
    
    &::before {
      content: open-quote
    }  
    &::after {
      content: close-quote
    }  
    
  }
  

  blockquote,
  q {
    quotes: "“" "”";
  }

  ol,
  ul,
  p {
    margin: 2em 0;
  }

  ol {
    li {
      counter-increment: li;
      font-weight: bold;

      &:before {
        color: #008eda;
        content: counter(li) ".";
        margin-right: 0.5em;
        text-align: right;
      }
    }
  }

  ul {
    li {
      font-weight: bold;

      &:before {
        color: #008eda;
        content: "\2022";
        margin-right: 0.5em;
        text-align: right;
      }
    }
  }
}

.content-container {
  width: 100%;
  max-width: 650px;
  margin: 2em auto 0 auto;

  img {
    width: $max-width;
    margin-left: calc((650px - #{$max-width})/2);
    margin-right: calc((650px - #{$max-width})/2);
    @media screen and (#{$media-md}) {
      width: calc(100vw - 96px);
      margin-left: calc((96px + 650px - 100vw)/2);
      margin-right: calc((96px + 650px - 100vw)/2);
    }

    @media screen and (#{$media-sm}) {
      width: calc(100vw - 48px);
      margin-left: calc((48px + 650px - 100vw)/2);
      margin-right: calc((48px + 650px - 100vw)/2);
    }


    @media screen and (max-width: 698px) {
      width: 100vw;
      margin-left: -24px;
      margin-right: -24px;
    }
  }
}