.container.sectors {


  .block-header-r {
    @extend %stretch-over-max-width-r;
    @extend %max-width-inner-r;
    background-color: #1c1c1c;
    padding-left: 48px;
    padding-top: 48px;
    padding-bottom: 48px;
    position: relative;
    float: right;
    margin-bottom: 128px;
    z-index: 1;

  
    /* mobile rules */
    @media screen and (max-width: 768px) {
      //height: 116px;
      margin-bottom: 96px;
      width: 100%;
      padding: 0px;
    }
  }

  .copy-r {
    min-width: 600px;
    @media screen and (#{$media-md}) {
      min-width: 50vw;
    }
    margin-right: 24px;
    font-size: 37px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
        /* mobile rules */
    @media screen and (max-width: 768px) {
      font-size: 26px;
      padding: 36px 0px 36px 36px;
    }
  }


  .block-header-l {
    @extend %stretch-over-max-width-l;
    @extend %max-width-inner-l;
    background-color: #1c1c1c;
    padding-right: 48px;
    padding-top: 48px;
    padding-bottom: 48px;
    position: relative;
    display: inline-block;
    margin-bottom: 128px;
    z-index: 1;

      /* mobile rules */
    @media screen and (max-width: 768px) {
        //height: 116px;
      margin-bottom: 96px;
      width: 100%;
      padding: 0px;
    }
  }

  .copy-l {
    min-width: 600px;
    @media screen and (#{$media-md}) {
      min-width: 50vw;
    }
    font-size: 37px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
          /* mobile rules */
    @media screen and (max-width: 768px) {
      font-size: 26px;
      margin-left: 48px;
      padding: 36px 36px 36px 0px;
    }
  }
  

/* main CTA global button style */

  .sectorbutton {
    background-color: #1897D4;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    border-radius: 2px;
    cursor: pointer;
    text-transform: uppercase;
    min-width: 180px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: bold;
  }
  .sectorbutton:hover {
    background-color: rgb(17, 100, 138);
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
  }

  .hero-quote {
    font-family: $font-muli;
    font-size: 37px;
    max-width: 710px;
    color: #fff;
    padding-bottom: 24px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @media screen and (max-width: 1024px) and (min-width: 768px) {
    .hero-quote {
      font-size: 37px;
      margin-bottom: 24px;
      color: #fff;
    }
  }

  @media screen and (max-width: 768px) {
    .hero-quote {
      font-size: 26px;
      margin-bottom: 24px;
      color: #fff;
    }
  }
  
  ////////////* BACKGROUND WORDS-PARALLAX *////////////
  .words-consultants {
    font-family: Impact;
    position: absolute;
    font-size: 380px;
    color: #f0f0f0;
    -webkit-font-smoothing: antialiased;
    pointer-events: none;
    left: 25%;
    margin-top: 100px;
  }


  .words-latestnews {
    font-family: Impact;
    position: absolute;
    font-size: 380px;
    color: #f0f0f0;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    pointer-events: none;
    margin-top: -300px;
    left: -2%;
  }

  .words-jobs {
    font-family: Impact;
    position: absolute;
    font-size: 380px;
    color: #f0f0f0;
    -webkit-font-smoothing: antialiased;
    pointer-events: none;
    line-height: 0.9;
    margin-top: -300px;
    left: 55%;
  }
  
  
  ////////////* 1. CONSULTANTS HEADER *////////////
  .consultantsection {

    .consultantcontainer {
      @extend .block-header-l;
      margin-top: 134px;
    }

    .consultantscopy {
      @extend .copy-l;
    }
  }
  
  
  ////////////* 1 . CONSULTANTS GRID *////////////
  $neat-grid: (
    columns: 12,
    gutter: 48px,
    margin-bottom: 48px
  );

  $neat-tablet: (
    columns: 2,
    media: 'screen and (max-width: 1422px)',
    gutter: 48px
  );

  $neat-mobile: (
    columns: 1,
    media: 'screen and (max-width: 768px)',
    gutter: 24px
  );

  .consultanttiles-sectors {
    .con-tiles {
      @include grid-container;
      @include grid-collapse;
      @include grid-media($neat-tablet) {
        @include grid-collapse;
      }
      @include grid-media($neat-mobile) {
        @include grid-collapse;
      }
      padding-bottom: 172px;
    }

    .tile_s,
     {
      @include grid-column(6);
      height: 450px;
      color: white;
      margin-bottom: 48px;
      position: relative;
      transition: all 0.5s;
      overflow: hidden;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;

      @include grid-media($neat-tablet) {
        @include grid-column(1);
        position: relative;
      }
      @include grid-media($neat-mobile) {
        @include grid-column(1);
        margin-bottom: 24px;
        height: 350px;
        position: relative;
      }

      .copycontainer {
        color: #fff;
        font-size: 26px;
        font-weight: 300;
        font-family: 'muli' sans-serif;
        padding: 48px;
        left: 0;
        bottom: 0;
        position: absolute;
        -webkit-font-smoothing: antialiased;
        .name {
          margin-bottom: 8px;
        }
        .viewprofile {
          font-size: 16px;
          font-weight: bold;
          text-transform: uppercase;
          -webkit-font-smoothing: antialiased;
        }
      }

      &:before {
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.9);
      }
    }

    .tile_s:hover {
      transition: all 0.5s;
    }

    .tile_s .tile_s-overlay {
      background: rgba(0, 145, 218, 0.5);
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      -webkit-transition: all 0.4s ease-in-out 0s;
      -moz-transition: all 0.4s ease-in-out 0s;
      transition: all 0.4s ease-in-out 0s;
    }

    .tile_s:hover .tile_s-overlay {
      opacity: 1;
    }
    .localsgrid {
      z-index: 1;
    }
  }

  ////////////* LATEST NEWS HEADER *////////////
  .newssection {
    margin-bottom: 172px;
    .newscontainer {
      @extend .block-header-r;
      .newscopy {
        @extend .copy-r;
      }
    }
  }
  

  
  // LATEST NEWS GRID //
  $neat-grid: (
    columns: 12,
    gutter: 48px,
  );

  $neat-tablet: (
    columns: 12,
    media: 'screen and (max-width: 1422px)',
    gutter: 48px
  );

  $neat-mobile: (
    columns: 12,
    media: 'screen and (max-width: 768px)',
    gutter: 24px,
  );

  .sector-blog-grid {
    clear: both;
    @include grid-container;
    @include grid-collapse;
    @include grid-media($neat-tablet) {
      @include grid-collapse;
    }
    @include grid-media($neat-mobile) {
      @include grid-collapse;
    }
    .first {
      @include grid-column(8); // where 12 is the number of columns total.
      @include grid-media($neat-tablet) {
        @include grid-column(12); //full width
        min-height: 350px;
      }
      @include grid-media($neat-mobile) {
        @include grid-column(12); //full width
        margin-bottom: 28px;
        min-height: 350px;
      }
      transition: all 0.5s;
      overflow: hidden;
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;
      min-height: 688px;
      color: #fff;
      background-color: $shark-black;
      margin-bottom: 48px;
      &:before {
        background-color: rgba(0, 0, 0, 0.3);
        content: '';
        height: 100%;
        left: 0;
        width: 100%;
        position: absolute;
      }
    }
    .second {
      @include grid-column(4);
      @include grid-media($neat-tablet) {
        @include grid-column(12); //full width
      }
      @include grid-media($neat-mobile) {
        @include grid-column(12); //full width
      }

      .grid-collapse {
        @include grid-collapse; // this is to make sure you don't get double padding
        @include grid-media($neat-tablet) {
          @include grid-collapse; // this is to make sure you don't get double padding
        }
        @include grid-media($neat-mobile) {
          @include grid-collapse; // this is to make sure you don't get double padding          
        }
      }

      .nest_first,
      .nest_second {
        @include grid-column(12);
        @include grid-media($neat-tablet) {
          @include grid-column(6); //half
        }
        @include grid-media($neat-mobile) {
          @include grid-column(12); //full again
          margin-bottom: 28px;
        }
        transition: all 0.5s;
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        min-height: 320px;
        position: relative;
        color: #fff;
        background-color: #1c1c1c;
        margin-bottom: 48px;
        &:before {
          background-color: rgba(0, 0, 0, 0.3);
          content: '';
          height: 100%;
          left: 0;
          width: 100%;
          position: absolute;
        }
      }
    }
  }
  
  // article tile content styling //
  .news-content-container {
    padding: 48px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;

    .sector-lable {
      font-family: $font-muli;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.4;
      text-transform: uppercase;
      color: #a0a8ac;
      padding-bottom: 16px;
    }
    .article-title {
      font-family: $font-muli;
      font-weight: bold;
      color: #fff;
      font-size: 19px;
      line-height: 1.4;
      padding-bottom: 16px;
    }

    .read-news-cta {
      color: #fff;
      font-weight: bold;
      font-size: 16px;
      position: absolute;
      text-transform: uppercase;
      bottom: 0;
    }
  }

  .nest_second {
    .news-content-container:hover {
      background-color: $curious-blue;
      transition: all 0.5s ease-in-out;
    }
  }
// Link to blog cat styles//
  .news-content-container {
    padding: 48px;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 0.5s ease-in-out;

    .sector-lable {
      font-family: Muli;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.4;
      text-transform: uppercase;
      color: #a0a8ac;
      padding-bottom: 16px;
    }
    .article-title {
      font-family: Muli;
      color: #fff;
      font-size: 19px;
      line-height: 1.4;
      padding-bottom: 16px;
    }

    .read-news-cta {
      color: #fff;
      font-size: 16px;
      position: absolute;
      text-transform: uppercase;
      bottom: 48px;
    }
  }


//hover state//*/
  /*.first:hover {
    -webkit-transform: scale(1.05,1.05);
    transform: scale(1.05,1.05);
    transition: all 0.5s;
  }*/  

  ////////////* 3. LATEST ROLES HEADER *////////////
  .rolesection {
    width: 100%;
    .rolecontainer {
      @extend .block-header-l;
      .rolescopy {
        @extend .copy-l;
      }
    }
  }
  
  ////////////* 3. LATEST ROLES GRID *////////////
  $neat-grid: (
    columns: 12,
    gutter: 48px,
    margin-bottom: 48px
  );

  $neat-tablet: (
    columns: 2,
    media: 'screen and (max-width: 1422px)',
    gutter: 48px
  );

  $neat-mobile: (
    columns: 1,
    media: 'screen and (max-width: 768px)',
    gutter: 24px
  );

  .rolestiles {
    @include grid-container;
    @include grid-collapse;

    @include grid-media($neat-tablet) {
      @include grid-collapse;
    }
    @include grid-media($neat-mobile) {
      @include grid-collapse;
    }
    padding-bottom: 172px;
  }

  .role_z,
   {
    @include grid-column(4);
    height: 320px;
    color: white;
    margin-bottom: 48px;
    position: relative;
    transition: all 0.5s;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #1c1c1c;

    @include grid-media($neat-tablet) {
      @include grid-column(1);
      position: relative;
    }
    @include grid-media($neat-mobile) {
      @include grid-column(1);
      margin-bottom: 24px;
      height: 350px;
      position: relative;
    }

    .rolecopycontainer {
      height: 100%;
      width: 100%;
      position: relative;
    }
    .rolecopycontainer {
      color: #fff;
      font-size: 19px;
      font-weight: bold;
      font-family: $font-muli;
      padding: 48px;
      left: 0;
      top: 0;
      position: absolute;
      -webkit-font-smoothing: antialiased;
    }
    .job_details {
      color: #fff;
      font-size: 16px;
      font-weight: normal;
      font-family: 'muli' sans-serif;
      margin: 24px 24px 24px 68px;
      left: 0;
      padding-bottom: 8px;
      position: absolute;
      -webkit-font-smoothing: antialiased;
      list-style-type: disc;
      li {
        margin-bottom: 8px;
      }
    }
    .viewjob {
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      font-family: 'muli' sans-serif;
      text-transform: uppercase;
      padding: 48px;
      left: 0;
      bottom: 0;
      position: absolute;
      -webkit-font-smoothing: antialiased;
    }
  }



  .role_z:hover {
    transition: 1s;
  }

  .role_z .role_z-overlay {
    background: rgba(0, 145, 218, 1);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }

  .role_z:hover .role_z-overlay {
    opacity: 1;
  }

  .role_sector_search,
   {
    @include grid-column(4);
    height: 320px;
    color: white;
    margin-bottom: 48px;
    position: relative;
    transition: all 0.5s;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #1c1c1c;

    @include grid-media($neat-tablet) {
      @include grid-column(1);
      position: relative;
    }
    @include grid-media($neat-mobile) {
      @include grid-column(1);
      margin-bottom: 24px;
      height: 350px;
      position: relative;
    }

    .rolecopycontainer {
      height: 100%;
      width: 100%;
      position: relative;
    }
    .rolecopycontainer {
      color: #fff;
      font-size: 19px;
      font-weight: bold;
      font-family: 'muli' sans-serif;
      padding: 48px;
      left: 0;
      top: 0;
      position: absolute;
      -webkit-font-smoothing: antialiased;
    }
    .viewprofile {
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      font-family: 'muli' sans-serif;
      text-transform: uppercase;
      padding: 48px;
      left: 0;
      bottom: 0;
      position: absolute;
      -webkit-font-smoothing: antialiased;
    }
  }

  .role_sector_search .role_sector_search-overlay {
    background: rgba(0, 145, 218, 1);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }

  .role_sector_search:hover .role_sector_search-overlay {
    opacity: 1;
  }

  .tile_z {
    @include grid-column(4);
    z-index: 1;
    height: 320px;
    color: white;
    margin-bottom: 48px;
    position: relative;
    transition: all 0.5s;
    overflow: hidden;
    background-color: $shark-black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-backface-visibility: hidden;
    &:before {
      content: '';
      z-index: -1;
      background: rgba(0, 0, 0, 0.3);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
    }


    @include grid-media($neat-tablet) {
      @include grid-column(1);
      height: 340px;
      position: relative;
    }
    @include grid-media($neat-mobile) {
      @include grid-column(1);
      margin-bottom: 24px;
      height: 350px;
      margin-left: 24px;
      position: relative;
    }
  }

  .tile_z .tile_z-overlay {
    background: rgba(0, 145, 218, 0.3);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }

  .tile_z:hover .tile_z-overlay {
    transition: all 0.5s;
    opacity: 1;
  }
}

.role_z-overlay {
  background: rgba(0, 145, 218, 1);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.role_z:hover .role_z-overlay {
  opacity: 1;
}