.block-header-r {
  @extend %stretch-over-max-width-r;
  @extend %max-width-inner-r;
  background-color: #1c1c1c;
  padding-left: 48px;
  padding-top: 48px;
  padding-bottom: 48px;
  position: relative;
  float: right;
  margin-bottom: 128px;
  z-index: 1;

  
    /* mobile rules */
  @media screen and (max-width: 768px) {
      //height: 116px;
    margin-bottom: 96px;
    width: 100%;
    padding: 0px;
  }
}

.copy-r {
  min-width: 600px;
  @media screen and (#{$media-md}) {
    min-width: 50vw;
  }
  margin-right: 24px;
  font-size: 37px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
        /* mobile rules */
  @media screen and (max-width: 768px) {
    font-size: 26px;
    padding: 36px 0px 36px 36px;
  }
}


.block-header-l {
  @extend %stretch-over-max-width-l;
  @extend %max-width-inner-l;
  background-color: #1c1c1c;
  padding-right: 48px;
  padding-top: 48px;
  padding-bottom: 48px;
  position: relative;
  display: inline-block;
  margin-bottom: 128px;
  z-index: 1;

      /* mobile rules */
  @media screen and (max-width: 768px) {
        //height: 116px;
    margin-bottom: 96px;
    width: 100%;
    padding: 0px;
  }
}

.copy-l {
  min-width: 600px;
  @media screen and (#{$media-md}) {
    min-width: 50vw;
  }
  margin-left: 24px;
  font-size: 37px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
          /* mobile rules */
  @media screen and (max-width: 768px) {
    font-size: 26px;
    padding: 36px 36px 36px 0px;
  }
}
  

/* main CTA global button style */

.sectorbutton {
  background-color: #1897D4;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.5s; /* Safari */
  transition-duration: 0.5s;
  border-radius: 2px;
  cursor: pointer;
  text-transform: uppercase;
  min-width: 180px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
}
.sectorbutton:hover {
  background-color: rgb(17, 100, 138);
  -webkit-transition-duration: 0.5s; /* Safari */
  transition-duration: 0.5s;
}

.hero-quote {
  font-family: $font-muli;
  font-size: 37px;
  max-width: 710px;
  color: #fff;
  padding-bottom: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .hero-quote {
    font-size: 37px;
    margin-bottom: 24px;
    color: #fff;
  }
}

@media screen and (max-width: 768px) {
  .hero-quote {
    font-size: 26px;
    margin-bottom: 24px;
    color: #fff;
  }
}
  
  ////////////* BACKGROUND WORDS-PARALLAX *////////////
.words-consultants {
  font-family: Impact;
  position: absolute;
  font-size: 380px;
  color: #f0f0f0;
  -webkit-font-smoothing: antialiased;
  pointer-events: none;
  left: 25%;
  margin-top: 100px;
  z-index: -10;
}


.words-latestnews {
  font-family: Impact;
  position: absolute;
  font-size: 380px;
  color: #f0f0f0;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  pointer-events: none;
  margin-top: -20px;
  left: -2%;
  z-index: -10;
}

.words-jobs {
  font-family: Impact;
  position: absolute;
  font-size: 380px;
  color: #f0f0f0;
  -webkit-font-smoothing: antialiased;
  pointer-events: none;
  line-height: 0.9;
  margin-top: 130px;
  left: 55%;
  z-index: -10;
}
  
  
  ////////////* 1. CONSULTANTS HEADER *////////////
.consultantsection {

  .consultantcontainer {
    @extend .block-header-l;
    margin-top: 134px;
  }

  .consultantscopy {
    @extend .copy-l;
  }
}
  
  
  ////////////* 1 . CONSULTANTS GRID *////////////
$neat-grid: (
    columns: 12,
    gutter: 48px,
    margin-bottom: 48px
  );

$neat-tablet: (
    columns: 2,
    media: 'screen and (max-width: 1422px)',
    gutter: 48px
  );

$neat-mobile: (
    columns: 1,
    media: 'screen and (max-width: 768px)',
    gutter: 24px
  );

.consultanttiles-sectors {
  @include grid-container;
  @include grid-collapse;
  padding-bottom: 172px;
}

.tile_s,
 {
  @include grid-column(6);
  height: 450px;
  color: white;
  margin-bottom: 48px;
  position: relative;
  transition: all 0.5s;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url('..//assets/Benjamin-Gatt_greyscale_small.jpg');

  @include grid-media($neat-tablet) {
    @include grid-column(1);
    position: relative;
  }
  @include grid-media($neat-mobile) {
    @include grid-column(1);
    margin-bottom: 24px;
    height: 350px;
    position: relative;
  }

  .copycontainer {
    color: #fff;
    font-size: 26px;
    font-weight: 300;
    font-family: 'muli' sans-serif;
    padding: 48px;
    left: 0;
    bottom: 0;
    position: absolute;
    -webkit-font-smoothing: antialiased;
    .name {
      margin-bottom: 8px;
    }
    .viewprofile {
      font-size: 19px;
      font-weight: bold;
      text-transform: uppercase;
      -webkit-font-smoothing: antialiased;
    }
  }
}

.tile_s:hover {
  -ms-transform: scale(1.05,1.05); /* IE 9 */
  -webkit-transform: scale(1.05,1.05); /* Safari */
  transform: scale(1.05,1.05); /* Standard syntax */
  transition: all 0.5s;
}

.tile_s .tile_s-overlay {
  background: rgba(0, 145, 218, 0.5);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.tile_s:hover .tile_s-overlay {
  opacity: 1;
}

  ////////////* LATEST NEWS HEADER *////////////
.newssection {
  margin-bottom: 172px;
  .newscontainer {
    @extend .block-header-r;
    .newscopy {
      @extend .copy-r;
    }
  }
}
  
  ////////////* LATEST NEWS GRID *////////////
$neat-grid: (
    columns: 4,
    gutter: 48px,
    margin-bottom: 48px
  );

$neat-tablet: (
    columns: 2,
    media: 'screen and (max-width: 1422px)',
    gutter: 48px
  );

$neat-mobile: (
    columns: 1,
    media: 'screen and (max-width: 768px)',
    gutter: 24px
  );

.newstiles {
  @include grid-container;
  padding-bottom: 48px;
}

.largetile,
 {
  @include grid-column(4);
  height: 450px;
  color: white;
  margin-bottom: 48px;
  position: relative;
  transition: all 0.5s;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url('..//assets/Benjamin-Gatt_greyscale_small.jpg');

  @include grid-media($neat-tablet) {
    @include grid-column(1);
    position: relative;
  }
  @include grid-media($neat-mobile) {
    @include grid-column(1);
    margin-bottom: 24px;
    height: 350px;
    position: relative;
  }

  .rolecopycontainer {
    color: #fff;
    font-size: 26px;
    font-weight: 300;
    font-family: 'muli' sans-serif;
    padding: 48px;
    left: 0;
    bottom: 0;
    position: absolute;
    -webkit-font-smoothing: antialiased;
    .job_details {
      margin-bottom: 8px;
    }
    .viewprofile {
      font-size: 19px;
      font-weight: bold;
      text-transform: uppercase;
      -webkit-font-smoothing: antialiased;
    }
  }
}

.tile_z:hover {
  -ms-transform: scale(1.05,1.05); /* IE 9 */
  -webkit-transform: scale(1.05,1.05); /* Safari */
  transform: scale(1.05,1.05); /* Standard syntax */
  transition: all 0.5s;
}

.tile_z .tile_z-overlay {
  background: rgba(0, 145, 218, 0.5);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.tile_z:hover .tile_z-overlay {
  opacity: 1;
}
  
  
  // 2.0 LATEST NEWS GRID //
$neat-grid: (
    columns: 12,
    gutter: 48px,
  );

$neat-tablet: (
    columns: 12,
    media: 'screen and (max-width: 1422px)',
    gutter: 48px
  );

$neat-mobile: (
    columns: 12,
    media: 'screen and (max-width: 768px)',
    gutter: 24px,
  );

.sector-blog-grid {
  @include grid-container;
  @include grid-collapse;
  .first {
    @include grid-column(8); // where 12 is the number of columns total.
    @include grid-media($neat-tablet) {
      @include grid-column(12); //full width
    }
    @include grid-media($neat-mobile) {
      @include grid-column(12); //full width
      margin-bottom: 28px;
    }
    transition: all 0.5s;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 648px;
    color: #fff;
    background-color: #1c1c1c;
    margin-bottom: 48px;
  }
  .second {
    @include grid-column(4);
    @include grid-media($neat-tablet) {
      @include grid-column(12); //full width
    }
    @include grid-media($neat-mobile) {
      @include grid-column(12); //full width
    }

    .grid-collapse {
      @include grid-collapse; // this is to make sure you don't get double padding
      @include grid-media($neat-tablet) {
        @include grid-collapse; // this is to make sure you don't get double padding
      }
      @include grid-media($neat-mobile) {
        @include grid-collapse; // this is to make sure you don't get double padding          
      }
    }

    .nest_first,
    .nest_second {
      @include grid-column(12);
      @include grid-media($neat-tablet) {
        @include grid-column(6); //half
      }
      @include grid-media($neat-mobile) {
        @include grid-column(12); //full again
        margin-bottom: 28px;
      }
      transition: all 0.5s;
      overflow: hidden;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;
      min-height: 300px;
      position: relative;
      color: #fff;
      background-color: #1c1c1c;
      margin-bottom: 48px;
    }
  }
}
  
  // article tile content styling //
.news-content-container {
  padding: 48px;
  height: 100%;
  width: 100%;
  position: absolute;
  .sector-lable {
    font-family: Muli;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4;
    text-transform: uppercase;
    color: #a0a8ac;
    padding-bottom: 16px;
  }
  .article-title {
    font-family: Muli;
    color: #fff;
    font-size: 19px;
    line-height: 1.4;
    padding-bottom: 16px;
  }

  .read-news-cta {
    color: #fff;
    font-size: 16px;
    position: absolute;
    text-transform: uppercase;
    bottom: 0;
  }
}
  
  // article tile content styling for link to all article in that sector//
  
  // article tile content styling //
.news-content-container {
  padding: 48px;
  height: 100%;
  width: 100%;
  position: absolute;
  .sector-lable {
    font-family: Muli;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4;
    text-transform: uppercase;
    color: #a0a8ac;
    padding-bottom: 16px;
  }
  .article-title {
    font-family: Muli;
    color: #fff;
    font-size: 19px;
    line-height: 1.4;
    padding-bottom: 16px;
  }

  .read-news-cta {
    color: #fff;
    font-size: 16px;
    position: absolute;
    text-transform: uppercase;
    bottom: 48px;
  }
}
  
  //hover state//*/
  
  /*.first:hover {
    -webkit-transform: scale(1.05,1.05);
    transform: scale(1.05,1.05);
    transition: all 0.5s;
  }*/

.first .first-overlay {
  background: rgba(0, 145, 218, 0.5);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.first:hover .first-overlay {
  opacity: 1;
}
  
  
  
  ///////// 2. LATEST NEWS GRID //////////
$sidebar-layout: (
    columns: 3,
    gutter: 48px,
  );

$sidebar-layout-tablet: (
    columns: 4,
    gutter: 24px,
    media: 'screen and (max-width: 1024px)'
  );

$sidebar-layout-mobile: (
    columns: 1,
    gutter: 24px,
    media: 'screen and (max-width: 768px)'
  );
  
  //////////////////////////////////////////

$product-gallery: (
    columns: 1,
    gutter: 48px,
  );

$product-gallery-tablet: (
    columns: 4,
    gutter: 24px,
    media: 'screen and (max-width: 1024px)'
  );

$product-gallery-mobile: (
    columns: 1,
    gutter: 24px,
    media: 'screen and (max-width: 768px)'
  );

.sidebar-layout {
  @include grid-container;
  max-width: 1300px;
  margin: 0 auto;
}

.sidebar-layout__sidebar {
  @include grid-column(2, $sidebar-layout);
  height: 648px;
  color: white;
  margin-bottom: 48px;
  position: relative;
  transition: all 0.5s;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url("..//assets/sanding.jpg");
  .news-tile-content {
    margin: 68px;
    .sector-lable {
      font-family: Muli;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.2;
      text-transform: uppercase;
      color: #a0a8ac;
      padding-bottom: 16px;
    }
    .article-title {
      font-family: Muli;
      color: #fff;
      font-size: 19px;
      line-height: 1.6;
      padding-bottom: 16px;
    }
    .read-news-cta {
      color: #fff;
      font-size: 16px;
      position: absolute;
      text-transform: uppercase;
      bottom: 48px;
    }
  }
  @include grid-media($sidebar-layout-tablet) {
    @include grid-column(4);
    position: relative;
    height: 300px;
  }
  @include grid-media($sidebar-layout-mobile) {
    @include grid-column(1);
    position: relative;
    height: 300px;
  }
}

.sidebar-layout__main {
  @include grid-column(1, $sidebar-layout);
}

.small-tiles-right {
  @include grid-collapse($product-gallery);
  @include grid-container;
}

.small-tiles-right__item {
  @include grid-column(1, $product-gallery);
  margin-bottom: 1rem;
  height: 300px;
  color: white;
  margin-bottom: 48px;
  position: relative;
  transition: all 0.5s;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url('..//assets/sanding.jpg');
  .news-tile-content {
    margin: 48px;
    .sector-lable {
      font-family: Muli;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.2;
      text-transform: uppercase;
      color: #a0a8ac;
      padding-bottom: 16px;
    }
    .article-title {
      font-family: Muli;
      color: #fff;
      font-size: 19px;
      line-height: 1.6;
      padding-bottom: 16px;
    }
    .read-news-cta {
      color: #fff;
      position: absolute;
      text-transform: uppercase;
      font-size: 16px;
      bottom: 48px;
    }
  }
  @include grid-media($sidebar-layout-tablet) {
    @include grid-column(5);
    position: relative;
  }
  @include grid-media($sidebar-layout-mobile) {
    @include grid-column(2);
    position: relative;
  }
}

.example__column--fancy {
  background-color: #1c1c1c;
}

.example {
  margin-bottom: 160px;
}
  
  
  
  
  ////////////* 3. LATEST ROLES HEADER *////////////
.rolesection {
  width: 100%;
  .rolecontainer {
    @extend .block-header-l;
    .rolescopy {
      @extend .copy-l;
    }
  }
}
  
  ////////////* 3. LATEST ROLES GRID *////////////
$neat-grid: (
    columns: 12,
    gutter: 48px,
    margin-bottom: 48px
  );

$neat-tablet: (
    columns: 2,
    media: 'screen and (max-width: 1422px)',
    gutter: 48px
  );

$neat-mobile: (
    columns: 1,
    media: 'screen and (max-width: 768px)',
    gutter: 24px
  );

.rolestiles {
  @include grid-container;
  padding-bottom: 172px;
  max-width: 1300px;
  margin: 0 auto;
}

.role_z,
 {
  @include grid-column(4);
  height: 320px;
  color: white;
  margin-bottom: 48px;
  position: relative;
  transition: all 0.5s;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #1c1c1c;

  @include grid-media($neat-tablet) {
    @include grid-column(1);
    position: relative;
  }
  @include grid-media($neat-mobile) {
    @include grid-column(1);
    margin-bottom: 24px;
    height: 350px;
    position: relative;
  }

  .rolecopycontainer {
    height: 100%;
    width: 100%;
    position: relative;
  }
  .rolecopycontainer {
    color: #fff;
    font-size: 19px;
    font-weight: bold;
    font-family: 'muli' sans-serif;
    padding: 48px;
    left: 0;
    top: 0;
    position: absolute;
    -webkit-font-smoothing: antialiased;
  }
  .job_details {
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    font-family: 'muli' sans-serif;
    margin: 24px 24px 24px 68px;
    left: 0;
    padding-bottom: 8px;
    position: absolute;
    -webkit-font-smoothing: antialiased;
    list-style-type: disc;
    li {
      margin-bottom: 8px;
    }
  }
  .viewjob {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-family: 'muli' sans-serif;
    text-transform: uppercase;
    padding: 48px;
    left: 0;
    bottom: 0;
    position: absolute;
    -webkit-font-smoothing: antialiased;
  }
}

.role_z:hover {
  -ms-transform: scale(1.05,1.05); /* IE 9 */
  -webkit-transform: scale(1.05,1.05); /* Safari */
  transform: scale(1.05,1.05); /* Standard syntax */
  transition: all 0.5s;
  -webkit-transform: translateZ(0px);
}

.role_z .role_z-overlay {
  background: rgba(0, 145, 218, 1);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.role_z:hover .role_z-overlay {
  opacity: 1;
}

.role_sector_search,
 {
  @include grid-column(4);
  height: 320px;
  color: white;
  margin-bottom: 48px;
  position: relative;
  transition: all 0.5s;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #1c1c1c;

  @include grid-media($neat-tablet) {
    @include grid-column(1);
    position: relative;
  }
  @include grid-media($neat-mobile) {
    @include grid-column(1);
    margin-bottom: 24px;
    height: 350px;
    position: relative;
  }

  .rolecopycontainer {
    height: 100%;
    width: 100%;
    position: relative;
  }
  .rolecopycontainer {
    color: #fff;
    font-size: 19px;
    font-weight: bold;
    font-family: 'muli' sans-serif;
    padding: 48px;
    left: 0;
    top: 0;
    position: absolute;
    -webkit-font-smoothing: antialiased;
  }
  .viewprofile {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-family: 'muli' sans-serif;
    text-transform: uppercase;
    padding: 48px;
    left: 0;
    bottom: 0;
    position: absolute;
    -webkit-font-smoothing: antialiased;
  }
}

.role_sector_search:hover {
  -ms-transform: scale(1.05,1.05); /* IE 9 */
  -webkit-transform: scale(1.05,1.05); /* Safari */
  transform: scale(1.05,1.05); /* Standard syntax */
  transition: all 0.5s;
  -webkit-transform: translateZ(0px);
}

.role_sector_search .role_sector_search-overlay {
  background: rgba(0, 145, 218, 1);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.role_sector_search:hover .role_sector_search-overlay {
  opacity: 1;
}