$white: #FFFFFF;
$iron: #c9ced1;
$sub-gray: #b2bbb8;
$placeholder-gray: #b6b6b6;
$shark-black: #191b1d;
$cape-cod: #3c4043;
$cerulean-blue: #008EDA;
$curious-blue: #1898d9;


$font-muli: "Muli", Helvetica, Arial, sans-serif;
$font-impact: "Impact", sans-serif;

$max-width: 1300px;
$grid-gap-large: 48px;
$grid-gap-small: 24px;
$h-size-small: 37px;
$h-size-med: 53px;
$h-size-large: 75px;

$radius: 2px;

$media-sm: 'max-width: 768px';
$media-md: 'max-width: 1396px';