$neat-grid: (
  gutter: 24px
);

.home_header_search {
  border-radius: 2px;
  padding: 48px 0px 19px 0px;

  .job-search-grid-home {
    @include grid-container;
    @include grid-collapse;

    .search-box-home,
    .location-box-home {
      @include grid-column(4.5);
    }

    button.button {
      @include grid-column(3);
    }

    @media screen and (max-width: 925px) {
      .search-box-home,
      .location-box-home,
      button.button {
        @include grid-column(12);
        margin-bottom: 24px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}